<a href="https://colab.research.google.com/github/HAUCommunityFridge/James_Fareshare_Data/blob/main/scripts/datacleaning.ipynb" target="_parent">
<img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [5]:
# Imports
import pandas as pd
import os
import re
from openpyxl import load_workbook
from datetime import datetime

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
#@title **Step 1: Clone the GitHub Repository**
# This step clones the required GitHub repository into the Colab environment.

# Define the path where the repository will be cloned
repo_path = '/content/James_Fareshare_Data'

# Check if the repository already exists
if not os.path.exists(repo_path):
    # Clone the repository if it doesn't exist
    !git clone https://github.com/HAUCommunityFridge/James_Fareshare_Data
else:
    # If the repository exists, pull the latest changes
    os.chdir(repo_path)
    !git pull

# Verify cloned repository
print("Repository contents:")
!ls /content/James_Fareshare_Data

Already up to date.
Repository contents:
data  docs  James_Fareshare_Data.Rproj	scripts

In [ ]:
#@title **Step 2: Inital loading**

In [ ]:
# Define the file path to the Excel file
file_path = "/content/James_Fareshare_Data/data/Fareshare records from April to July plus.xlsx"

# Load the workbook and get the sheet names
workbook = load_workbook(filename=file_path, read_only=True)
sheet_names = workbook.sheetnames

# Specify the sheets to ignore based on their indices
# These sheets may contain metadata or irrelevant information
sheets_to_ignore = [0, 1, 7, 10, 12, 13, 14, 15]

# Exclude the specified sheets from the list of sheets to load
sheets_to_load = [sheet for idx, sheet in enumerate(sheet_names) if idx not in sheets_to_ignore]

In [ ]:
#@title **Step 3: Inital data cleaning and merging**

In [ ]:
# Define the standard column names to be used across all sheets
column_names = ["Date", "Category", "Product.brand..name.and.type", "Barcode", "Quantity", "Unit",
                "Unit.weight", "Total.weight", "Unit.price", "Total.price", "SheetName"]

# Helper function to standardize column names by removing non-alphabetical characters and converting to lowercase
def standardize_column_name(name):
    if isinstance(name, str):
        return re.sub(r'[^a-z]', '', name.lower())
    return name

# Function to clean the 'Total.price' column by removing the 'GBP' suffix and converting to a float
def clean_total_price(price):
    if isinstance(price, str) and 'GBP' in price:
        return float(price.replace(' GBP', '').strip())
    return price

# Function to load and clean each sheet
def clean_sheet(sheet_name):
    # Load the sheet into a DataFrame
    data = pd.read_excel(file_path, sheet_name=sheet_name)

    # Print the first few rows of the original sheet for inspection
    print(f"Original data from sheet {sheet_name}:\n", data.head())

    # Standardize the column names
    data.columns = [standardize_column_name(col) for col in data.columns]

    # Print actual column names for debugging
    print(f"Sheet: {sheet_name}, Columns: {data.columns.tolist()}")

    # Limit columns to the length of column_names
    data = data.iloc[:, :len(column_names)]

    # Print actual number of columns detected for debugging
    print(f"Sheet: {sheet_name}, Columns Detected: {len(data.columns)}")

    # Adjust the number of columns if necessary
    if len(data.columns) > len(column_names):
        data = data.iloc[:, :len(column_names)]
    elif len(data.columns) < len(column_names):
        data = data.reindex(columns=column_names[:len(data.columns)])

    # Rename columns to the standard column names
    data.columns = column_names[:len(data.columns)]

    # Ensure only the required columns are kept
    data = data[column_names[:len(data.columns)]]

    # Remove rows with all NaN values
    data = data.dropna(how='all')

    # Process the 'Date' column: convert to datetime and handle missing dates
    if "Date" in data.columns:
        data['Date'] = pd.to_datetime(data['Date'], errors='coerce', dayfirst=True).dt.date
        if sheet_name == "Malinslee":
            data['Date'] = pd.NA  # Set date to NaN for Malinslee sheet if needed
        else:
            data['Date'] = data['Date'].ffill()  # Forward fill for other sheets

    # Clean the 'Total.price' column
    if 'Total.price' in data.columns:
        data['Total.price'] = data['Total.price'].apply(clean_total_price)
        data['Total.price'] = pd.to_numeric(data['Total.price'], errors='coerce')

    # Remove rows containing 'GBP' for now
    data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

    # Drop columns containing only NA values
    data = data.dropna(axis=1, how='all')

    # Add a column for the sheet name to track the origin of the data
    data['SheetName'] = sheet_name

    # Check for missing values in the cleaned data
    missing_values = data.isna().sum()
    print(f"Missing values in sheet {sheet_name}:\n{missing_values}")

    # Print the first few rows of the cleaned data
    print(f"Cleaned data from sheet {sheet_name}:\n", data.head())

    return data

# Load and clean all relevant sheets, storing each cleaned DataFrame in a list
data_list = [clean_sheet(sheet) for sheet in sheets_to_load]

# Remove NULL elements from the list, if any
data_list = [data for data in data_list if data is not None]

# Combine all cleaned data into a single DataFrame
if data_list:
    consolidated_data = pd.concat(data_list, ignore_index=True)

    # Remove rows where 'Category' is NaN, as they may not be useful
    consolidated_data = consolidated_data[consolidated_data['Category'].notna()]

    # Remove duplicate rows
    consolidated_data = consolidated_data.drop_duplicates()

    # Check for missing values in the consolidated data
    missing_values_consolidated = consolidated_data.isna().sum()
    print(f"Missing values in consolidated data:\n{missing_values_consolidated}")

    # Save the cleaned data to a new Excel file
    output_file_path = "/content/Cleaned_Fareshare_data_final.xlsx"
    consolidated_data.to_excel(output_file_path, index=False)

    print(f"Cleaned data saved to {output_file_path}")

    # Display the first few rows of the cleaned DataFrame
    print(consolidated_data.head())

    # Display the structure of the cleaned DataFrame
    print(consolidated_data.info())
else:
    print("No valid data found to consolidate.")

Original data from sheet Hadley:
     Received          Category  \
0 2024-05-01  Fresh vegetables
1 2024-05-01               NaN
2 2024-05-01  Fresh vegetables
3 2024-05-01               NaN
4 2024-05-01  Fresh vegetables

                        Product brand, name and type       Barcode  Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg  3.424605e+06       8.0
1                                                NaN           NaN       NaN
2  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5.059697e+12       7.0
3                                                NaN           NaN       NaN
4        Tesco Mixed Peppers 420G (C), Fruit and Veg  3.274880e+06       1.0

  Unit  Unit weight  Total weight Unit price  Total price  Expiry date  \
0   Kg         0.06          0.51       1.15         9.20          NaN
1  NaN          NaN           NaN       GBP           NaN          NaN
2   Kg         0.03          0.18       0.75         5.95          NaN
3  NaN          NaN           NaN       GBP           NaN          NaN
4   Kg         0.57          0.57        1.9         1.90          NaN

   Batch code  Stock code Weight  31.809999999999995   16.05  \
0         NaN  90606230.0  Price               283.1  148.85
1         NaN         NaN    NaN                 NaN     NaN
2         NaN  91177343.0    NaN                 NaN     NaN
3         NaN         NaN    NaN                 NaN     NaN
4         NaN  82909195.0    NaN                 NaN     NaN

   15.759999999999996
0              134.25
1                 NaN
2                 NaN
3                 NaN
4                 NaN
Sheet: Hadley, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'weight', 31.809999999999995, 16.05, 15.759999999999996]
Sheet: Hadley, Columns Detected: 11
Missing values in sheet Hadley:
Date                             0
Category                        50
Product.brand..name.and.type    50
Barcode                         50
Quantity                        50
Unit                            50
Unit.weight                     50
Total.weight                    50
Unit.price                      50
Total.price                     50
SheetName                        0
dtype: int64
Cleaned data from sheet Hadley:
          Date          Category  \
0  2024-05-01  Fresh vegetables
1  2024-05-01               NaN
2  2024-05-01  Fresh vegetables
3  2024-05-01               NaN
4  2024-05-01  Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg  3.424605e+06       8.0
1                                                NaN           NaN       NaN
2  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5.059697e+12       7.0
3                                                NaN           NaN       NaN
4        Tesco Mixed Peppers 420G (C), Fruit and Veg  3.274880e+06       1.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price SheetName
0   Kg         0.06          0.51       1.15         9.20    Hadley
1  NaN          NaN           NaN       <NA>          NaN    Hadley
2   Kg         0.03          0.18       0.75         5.95    Hadley
3  NaN          NaN           NaN       <NA>          NaN    Hadley
4   Kg         0.57          0.57        1.9         1.90    Hadley

<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Market Drayton (July):
               Received          Category  \
0  2024-07-01 00:00:00  Fresh vegetables
1  2024-07-01 00:00:00               NaN
2  2024-07-01 00:00:00  Fresh vegetables
3                  NaN               NaN
4                  NaN  Fresh vegetables

                        Product brand, name and type       Barcode  Quantity  \
0                Tesco Courgettes (C), Fruit and Veg  5.057754e+12       3.0
1                                                NaN           NaN       NaN
2  Tesco Flat Peach Mineral 3 Pack (C), Fruit and...  3.259412e+06       1.0
3                                                NaN           NaN       NaN
4      Tesco Iceberg Lettuce Each (C), Fruit and Veg  3.043868e+06       1.0

  Unit  Unit weight  Total weight Unit price Total price  ...  \
0   Kg         0.67          2.00        1.5   4.50 GBP   ...
1  NaN          NaN           NaN       GBP          NaN  ...
2   Kg         0.05          0.05        1.5   1.50 GBP   ...
3  NaN          NaN           NaN       GBP          NaN  ...
4   Kg         0.57          0.57        0.9   0.90 GBP   ...

   2024-07-22 00:00:00  2024-07-23 00:00:00  2024-07-24 00:00:00  \
0               29.117               20.524               13.516
1              197.200              139.200               75.950
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-07-25 00:00:00  2024-07-26 00:00:00  2024-07-27 00:00:00  \
0               41.287               29.927               34.277
1              148.250              190.550              234.800
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-07-28 00:00:00  2024-07-29 00:00:00  2024-07-30 00:00:00  \
0               14.422               35.732               30.124
1               80.250              221.700              195.300
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-07-31 00:00:00
0              25.321
1             150.390
2                 NaN
3                 NaN
4                 NaN

[5 rows x 47 columns]
Sheet: Market Drayton (July), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinjuly', datetime.datetime(2024, 7, 1, 0, 0), datetime.datetime(2024, 7, 2, 0, 0), datetime.datetime(2024, 7, 3, 0, 0), datetime.datetime(2024, 7, 4, 0, 0), datetime.datetime(2024, 7, 5, 0, 0), datetime.datetime(2024, 7, 6, 0, 0), datetime.datetime(2024, 7, 7, 0, 0), 'unscanned', datetime.datetime(2024, 7, 8, 0, 0), datetime.datetime(2024, 7, 9, 0, 0), datetime.datetime(2024, 7, 10, 0, 0), datetime.datetime(2024, 7, 11, 0, 0), datetime.datetime(2024, 7, 12, 0, 0), datetime.datetime(2024, 7, 13, 0, 0), datetime.datetime(2024, 7, 14, 0, 0), datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 16, 0, 0), datetime.datetime(2024, 7, 17, 0, 0), datetime.datetime(2024, 7, 18, 0, 0), datetime.datetime(2024, 7, 19, 0, 0), datetime.datetime(2024, 7, 20, 0, 0), datetime.datetime(2024, 7, 21, 0, 0), datetime.datetime(2024, 7, 22, 0, 0), datetime.datetime(2024, 7, 23, 0, 0), datetime.datetime(2024, 7, 24, 0, 0), datetime.datetime(2024, 7, 25, 0, 0), datetime.datetime(2024, 7, 26, 0, 0), datetime.datetime(2024, 7, 27, 0, 0), datetime.datetime(2024, 7, 28, 0, 0), datetime.datetime(2024, 7, 29, 0, 0), datetime.datetime(2024, 7, 30, 0, 0), datetime.datetime(2024, 7, 31, 0, 0)]
Sheet: Market Drayton (July), Columns Detected: 11
Missing values in sheet Market Drayton (July):
Date                              0
Category                        289
Product.brand..name.and.type    289
Barcode                         289
Quantity                        289
Unit                            289
Unit.weight                     289
Total.weight                    289
Unit.price                      289
Total.price                     289
SheetName                         0
dtype: int64
Cleaned data from sheet Market Drayton (July):
          Date          Category  \
0  2024-07-01  Fresh vegetables
1  2024-07-01               NaN
2  2024-07-01  Fresh vegetables
3  2024-07-01               NaN
4  2024-07-01  Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0                Tesco Courgettes (C), Fruit and Veg  5.057754e+12       3.0
1                                                NaN           NaN       NaN
2  Tesco Flat Peach Mineral 3 Pack (C), Fruit and...  3.259412e+06       1.0
3                                                NaN           NaN       NaN
4      Tesco Iceberg Lettuce Each (C), Fruit and Veg  3.043868e+06       1.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  \
0   Kg         0.67          2.00        1.5          4.5
1  NaN          NaN           NaN       <NA>          NaN
2   Kg         0.05          0.05        1.5          1.5
3  NaN          NaN           NaN       <NA>          NaN
4   Kg         0.57          0.57        0.9          0.9

               SheetName
0  Market Drayton (July)
1  Market Drayton (July)
2  Market Drayton (July)
3  Market Drayton (July)
4  Market Drayton (July)

<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Market Drayton (June):
     Received                              Category  \
0 2024-06-02  Chilled products with dairy and eggs
1 2024-06-02                                   NaN
2        NaT  Chilled products with dairy and eggs
3        NaT                                   NaN
4        NaT  Chilled products with dairy and eggs

                        Product brand, name and type       Barcode  Quantity  \
0             Tesco Chicken Drumsticks 600G, Chilled  5.054269e+12       1.0
1                                                NaN           NaN       NaN
2    Tesco British Whole Milk 568Ml, 1 Pint, Chilled  5.031021e+12       9.0
3                                                NaN           NaN       NaN
4  Tesco Organic British Whole Milk 2.272L/4 Pint...  5.050180e+12       6.0

  Unit  Unit weight  Total weight Unit price Total price  ...  \
0   Kg         0.70          0.70        2.3   2.70 GBP   ...
1  NaN          NaN           NaN       GBP          NaN  ...
2   Kg         0.60          5.40        0.9   8.10 GBP   ...
3  NaN          NaN           NaN       GBP          NaN  ...
4   Kg         2.37         14.24        2.3  13.80 GBP   ...

   2024-06-21 00:00:00  2024-06-22 00:00:00  2024-06-23 00:00:00  \
0               172.05               186.85               110.05
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-06-24 00:00:00  2024-06-25 00:00:00  2024-06-26 00:00:00  \
0                178.4                122.6                73.22
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-06-27 00:00:00  2024-06-28 00:00:00  2024-06-29 00:00:00  \
0                  180               295.95                207.2
1                  NaN                  NaN                  NaN
2        Scanned 7.809                  NaN                  NaN
3                61.25                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-06-30 00:00:00
0                220.5
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Market Drayton (June), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinjune', datetime.datetime(2024, 6, 1, 0, 0), datetime.datetime(2024, 6, 2, 0, 0), datetime.datetime(2024, 6, 3, 0, 0), datetime.datetime(2024, 6, 4, 0, 0), datetime.datetime(2024, 6, 5, 0, 0), datetime.datetime(2024, 6, 6, 0, 0), datetime.datetime(2024, 6, 7, 0, 0), datetime.datetime(2024, 6, 8, 0, 0), datetime.datetime(2024, 6, 9, 0, 0), datetime.datetime(2024, 6, 10, 0, 0), datetime.datetime(2024, 6, 11, 0, 0), datetime.datetime(2024, 6, 12, 0, 0), datetime.datetime(2024, 6, 13, 0, 0), datetime.datetime(2024, 6, 14, 0, 0), datetime.datetime(2024, 6, 15, 0, 0), datetime.datetime(2024, 6, 16, 0, 0), 'unrecorded', datetime.datetime(2024, 6, 17, 0, 0), datetime.datetime(2024, 6, 18, 0, 0), datetime.datetime(2024, 6, 19, 0, 0), datetime.datetime(2024, 6, 20, 0, 0), datetime.datetime(2024, 6, 21, 0, 0), datetime.datetime(2024, 6, 22, 0, 0), datetime.datetime(2024, 6, 23, 0, 0), datetime.datetime(2024, 6, 24, 0, 0), datetime.datetime(2024, 6, 25, 0, 0), datetime.datetime(2024, 6, 26, 0, 0), datetime.datetime(2024, 6, 27, 0, 0), datetime.datetime(2024, 6, 28, 0, 0), datetime.datetime(2024, 6, 29, 0, 0), datetime.datetime(2024, 6, 30, 0, 0)]
Sheet: Market Drayton (June), Columns Detected: 11
Missing values in sheet Market Drayton (June):
Date                              0
Category                        823
Product.brand..name.and.type    823
Barcode                         823
Quantity                        823
Unit                            823
Unit.weight                     823
Total.weight                    823
Unit.price                      823
Total.price                     823
SheetName                         0
dtype: int64
Cleaned data from sheet Market Drayton (June):
          Date                              Category  \
0  2024-06-02  Chilled products with dairy and eggs
1  2024-06-02                                   NaN
2  2024-06-02  Chilled products with dairy and eggs
3  2024-06-02                                   NaN
4  2024-06-02  Chilled products with dairy and eggs

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Tesco Chicken Drumsticks 600G, Chilled  5.054269e+12       1.0
1                                                NaN           NaN       NaN
2    Tesco British Whole Milk 568Ml, 1 Pint, Chilled  5.031021e+12       9.0
3                                                NaN           NaN       NaN
4  Tesco Organic British Whole Milk 2.272L/4 Pint...  5.050180e+12       6.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  \
0   Kg         0.70          0.70        2.3          2.7
1  NaN          NaN           NaN       <NA>          NaN
2   Kg         0.60          5.40        0.9          8.1
3  NaN          NaN           NaN       <NA>          NaN
4   Kg         2.37         14.24        2.3         13.8

               SheetName
0  Market Drayton (June)
1  Market Drayton (June)
2  Market Drayton (June)
3  Market Drayton (June)
4  Market Drayton (June)

<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Market Drayton (May):
               Received          Category  \
0  2024-05-01 00:00:00  Fresh vegetables
1  2024-05-01 00:00:00               NaN
2  2024-05-01 00:00:00  Fresh vegetables
3  2024-05-01 00:00:00               NaN
4  2024-05-01 00:00:00  Fresh vegetables

                 Product brand, name and type     Barcode  Quantity Unit  \
0     Tesco Babyleaf Salad 90G, Fruit and Veg   3312957.0       3.0   Kg
1                                         NaN         NaN       NaN  NaN
2  Tesco Little Gem 2 Pack (C), Fruit and Veg  10006962.0       2.0   Kg
3                                         NaN         NaN       NaN  NaN
4  Tesco Blackberries 150G (C), Fruit and Veg   3257272.0       6.0   Kg

   Unit weight  Total weight Unit price Total price  ...  22.59  \
0         0.10          0.29        NaN         3.3  ...  140.5
1          NaN           NaN        NaN         NaN  ...    NaN
2         0.26          0.52        NaN         1.8  ...    NaN
3          NaN           NaN        NaN         NaN  ...    NaN
4         0.17          0.99        NaN        12.6  ...    NaN

   10.259999999999998   35.73 41.199999999999996  22.900000000000002  \
0               98.25  183.55              195.1               189.4
1                 NaN     NaN                NaN                 NaN
2                 NaN     NaN                NaN                 NaN
3                 NaN     NaN                NaN                 NaN
4                 NaN     NaN                NaN                 NaN

   31.180000000000003  23.909999999999997  37.739999999999995  \
0               131.8              220.94               201.4
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

   12.640000000000002  14.406
0               58.55   113.4
1                 NaN     NaN
2                 NaN     NaN
3                 NaN     NaN
4                 NaN     NaN

[5 rows x 47 columns]
Sheet: Market Drayton (May), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'weight', 'unnamed', 821.7659999999997, 16.7, 5.71, 35.790000000000006, 20.65000000000001, 10.98, 11.48, 19.699999999999996, 9.07, 10.31, 61.529999999999994, 72.09999999999998, 49.839999999999996, 10.21, 9.59, 13.28, 18.01, 42.57000000000001, 46.370000000000005, 36.239999999999995, 17.919999999999995, 51.16000000000001, 22.59, 10.259999999999998, 35.73, 41.199999999999996, 22.900000000000002, 31.180000000000003, 23.909999999999997, 37.739999999999995, 12.640000000000002, 14.406]
Sheet: Market Drayton (May), Columns Detected: 11
Missing values in sheet Market Drayton (May):
Date                              0
Category                        720
Product.brand..name.and.type    720
Barcode                         724
Quantity                        722
Unit                            722
Unit.weight                     722
Total.weight                    720
Unit.price                      768
Total.price                     720
SheetName                         0
dtype: int64
Cleaned data from sheet Market Drayton (May):
          Date          Category                Product.brand..name.and.type  \
0  2024-05-01  Fresh vegetables     Tesco Babyleaf Salad 90G, Fruit and Veg
1  2024-05-01               NaN                                         NaN
2  2024-05-01  Fresh vegetables  Tesco Little Gem 2 Pack (C), Fruit and Veg
3  2024-05-01               NaN                                         NaN
4  2024-05-01  Fresh vegetables  Tesco Blackberries 150G (C), Fruit and Veg

      Barcode  Quantity Unit  Unit.weight  Total.weight Unit.price  \
0   3312957.0       3.0   Kg         0.10          0.29        NaN
1         NaN       NaN  NaN          NaN           NaN        NaN
2  10006962.0       2.0   Kg         0.26          0.52        NaN
3         NaN       NaN  NaN          NaN           NaN        NaN
4   3257272.0       6.0   Kg         0.17          0.99        NaN

   Total.price             SheetName
0          3.3  Market Drayton (May)
1          NaN  Market Drayton (May)
2          1.8  Market Drayton (May)
3          NaN  Market Drayton (May)
4         12.6  Market Drayton (May)

<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Market Drayton (April):
     Received          Category  \
0 2024-04-22  Fresh vegetables
1        NaT               NaN
2        NaT  Fresh vegetables
3        NaT               NaN
4        NaT  Fresh vegetables

                        Product brand, name and type     Barcode  Quantity  \
0     Jaffa Orange Minimum 4 Pack (C), Fruit and Veg  10004241.0       3.0
1                                                NaN         NaN       NaN
2                    Lemons 4Pack (C), Fruit and Veg  10098752.0       9.0
3                                                NaN         NaN       NaN
4  Tesco Granny Smith Apple 6 Pack (C), Fruit and...   3249499.0       3.0

  Unit  Unit weight  Total weight Unit price  Total price  ...  Weight  \
0   Kg         0.75          2.24          2         6.90  ...     NaN
1  NaN          NaN           NaN       GBP           NaN  ...     NaN
2   Kg         0.50          4.49        1.4        12.60  ...     NaN
3  NaN          NaN           NaN       GBP           NaN  ...     NaN
4   Kg         0.87          2.60       1.95         5.85  ...     NaN

   143.82000000000002  19.93  8.16  14.95  47.32  20.949999999999996  \
0                 NaN    NaN   NaN    NaN    NaN                 NaN
1                 NaN    NaN   NaN    NaN    NaN                 NaN
2                 NaN    NaN   NaN    NaN    NaN                 NaN
3                 NaN    NaN   NaN    NaN    NaN                 NaN
4                 NaN    NaN   NaN    NaN    NaN                 NaN

   21.420000000000005  Unnamed: 21  11.089999999999998
0                 NaN          NaN                 NaN
1                 NaN          NaN                 NaN
2                 NaN          NaN                 NaN
3                 NaN          NaN                 NaN
4                 NaN          NaN                 NaN

[5 rows x 23 columns]
Sheet: Market Drayton (April), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'weight', 143.82000000000002, 19.93, 8.16, 14.95, 47.32, 20.949999999999996, 21.420000000000005, 'unnamed', 11.089999999999998]
Sheet: Market Drayton (April), Columns Detected: 11
Missing values in sheet Market Drayton (April):
Date                             0
Category                        93
Product.brand..name.and.type    92
Barcode                         93
Quantity                        92
Unit                            93
Unit.weight                     93
Total.weight                    92
Unit.price                      92
Total.price                     92
SheetName                        0
dtype: int64
Cleaned data from sheet Market Drayton (April):
          Date          Category  \
0  2024-04-22  Fresh vegetables
1  2024-04-22               NaN
2  2024-04-22  Fresh vegetables
3  2024-04-22               NaN
4  2024-04-22  Fresh vegetables

                        Product.brand..name.and.type     Barcode  Quantity  \
0     Jaffa Orange Minimum 4 Pack (C), Fruit and Veg  10004241.0       3.0
1                                                NaN         NaN       NaN
2                    Lemons 4Pack (C), Fruit and Veg  10098752.0       9.0
3                                                NaN         NaN       NaN
4  Tesco Granny Smith Apple 6 Pack (C), Fruit and...   3249499.0       3.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  \
0   Kg         0.75          2.24          2         6.90
1  NaN          NaN           NaN       <NA>          NaN
2   Kg         0.50          4.49        1.4        12.60
3  NaN          NaN           NaN       <NA>          NaN
4   Kg         0.87          2.60       1.95         5.85

                SheetName
0  Market Drayton (April)
1  Market Drayton (April)
2  Market Drayton (April)
3  Market Drayton (April)
4  Market Drayton (April)
Original data from sheet Madeley:
     Received          Category  \
0 2024-05-02  Fresh vegetables
1 2024-05-02               NaN
2 2024-05-02  Fresh vegetables
3 2024-05-02               NaN
4 2024-05-02  Fresh vegetables

                       Product brand, name and type    Barcode  Quantity Unit  \
0  Tesco Aromatic Babyleaf Salad 90G, Fruit and Veg  3330678.0       1.0   Kg
1                                               NaN        NaN       NaN  NaN
2                       Tesco Turnip, Fruit and Veg  3301760.0      11.0   Kg
3                                               NaN        NaN       NaN  NaN
4             Tesco Cauliflower Each, Fruit and Veg  3023594.0       7.0   Kg

   Unit weight  Total weight Unit price  Total price  Expiry date  Batch code  \
0          0.1          0.10       1.55         1.35          NaN         NaN
1          NaN           NaN       GBP           NaN          NaN         NaN
2          0.3          3.32       0.58         6.38          NaN         NaN
3          NaN           NaN       GBP           NaN          NaN         NaN
4          0.7          4.92       1.09         7.63          NaN         NaN

   Stock code  Price  91.26  Unnamed: 15  91.26.1
0  87177222.0    NaN    NaN          NaN      NaN
1         NaN    NaN    NaN          NaN      NaN
2  86001853.0    NaN    NaN          NaN      NaN
3         NaN    NaN    NaN          NaN      NaN
4  50550228.0    NaN    NaN          NaN      NaN
Sheet: Madeley, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'price', 91.26, 'unnamed', '']
Sheet: Madeley, Columns Detected: 11
Missing values in sheet Madeley:
Date                             0
Category                        20
Product.brand..name.and.type    20
Barcode                         20
Quantity                        20
Unit                            20
Unit.weight                     20
Total.weight                    20
Unit.price                      20
Total.price                     20
SheetName                        0
dtype: int64
Cleaned data from sheet Madeley:
          Date          Category  \
0  2024-05-02  Fresh vegetables
1  2024-05-02               NaN
2  2024-05-02  Fresh vegetables
3  2024-05-02               NaN
4  2024-05-02  Fresh vegetables

                       Product.brand..name.and.type    Barcode  Quantity Unit  \
0  Tesco Aromatic Babyleaf Salad 90G, Fruit and Veg  3330678.0       1.0   Kg
1                                               NaN        NaN       NaN  NaN
2                       Tesco Turnip, Fruit and Veg  3301760.0      11.0   Kg
3                                               NaN        NaN       NaN  NaN
4             Tesco Cauliflower Each, Fruit and Veg  3023594.0       7.0   Kg

   Unit.weight  Total.weight Unit.price  Total.price SheetName
0          0.1          0.10       1.55         1.35   Madeley
1          NaN           NaN       <NA>          NaN   Madeley
2          0.3          3.32       0.58         6.38   Madeley
3          NaN           NaN       <NA>          NaN   Madeley
4          0.7          4.92       1.09         7.63   Madeley

<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)
<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Malinslee:
     Received                              Category  \
0 2024-05-02  Chilled products with dairy and eggs
1 2024-05-02                                   NaN
2 2024-05-02  Chilled products with dairy and eggs
3 2024-05-02                                   NaN
4 2024-05-02                      Fresh vegetables

                        Product brand, name and type       Barcode  Quantity  \
0  Tesco British Chicken Breast Mini Fillets 400G...  5.057754e+12       1.0
1                                                NaN           NaN       NaN
2        Tesco Chicken Breast Portions 580G, Chilled  5.057754e+12       3.0
3                                                NaN           NaN       NaN
4    Tesco Sweet & Crunchy Salad 250G, Fruit and Veg  3.336922e+06       2.0

  Unit  Unit weight  Total weight Unit price  Total price  ...  \
0   Kg         0.44          0.44       3.75         3.75  ...
1  NaN          NaN           NaN       GBP           NaN  ...
2   Kg         0.64          1.92       4.55        13.65  ...
3  NaN          NaN           NaN       GBP           NaN  ...
4   Kg         0.25          0.50       0.85         1.70  ...

   2024-05-22 00:00:00  2024-05-23 00:00:00  2024-05-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-05-25 00:00:00  2024-05-26 00:00:00  2024-05-27 00:00:00  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN

   2024-05-28 00:00:00  2024-05-29 00:00:00  2024-05-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Malinslee, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinmay', datetime.datetime(2024, 5, 1, 0, 0), datetime.datetime(2024, 5, 2, 0, 0), datetime.datetime(2024, 5, 3, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 5, 0, 0), datetime.datetime(2024, 5, 6, 0, 0), datetime.datetime(2024, 5, 7, 0, 0), datetime.datetime(2024, 5, 8, 0, 0), datetime.datetime(2024, 5, 9, 0, 0), datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 12, 0, 0), datetime.datetime(2024, 5, 13, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]
Sheet: Malinslee, Columns Detected: 11
Missing values in sheet Malinslee:
Category                        10
Product.brand..name.and.type    10
Barcode                         10
Quantity                        10
Unit                            10
Unit.weight                     10
Total.weight                    10
Unit.price                      10
Total.price                     10
SheetName                        0
dtype: int64
Cleaned data from sheet Malinslee:
                                Category  \
0  Chilled products with dairy and eggs
1                                   NaN
2  Chilled products with dairy and eggs
3                                   NaN
4                      Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0  Tesco British Chicken Breast Mini Fillets 400G...  5.057754e+12       1.0
1                                                NaN           NaN       NaN
2        Tesco Chicken Breast Portions 580G, Chilled  5.057754e+12       3.0
3                                                NaN           NaN       NaN
4    Tesco Sweet & Crunchy Salad 250G, Fruit and Veg  3.336922e+06       2.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  SheetName
0   Kg         0.44          0.44       3.75         3.75  Malinslee
1  NaN          NaN           NaN       <NA>          NaN  Malinslee
2   Kg         0.64          1.92       4.55        13.65  Malinslee
3  NaN          NaN           NaN       <NA>          NaN  Malinslee
4   Kg         0.25          0.50       0.85         1.70  Malinslee
Original data from sheet Rugeley:
    Received                  Category  \
0       NaN  Bread and bread products
1       NaN                       NaN
2       NaN  Bread and bread products
3       NaN                       NaN
4       NaN  Bread and bread products

                        Product brand, name and type       Barcode  Quantity  \
0             Hovis Granary Thick Bread 800G, Bakery  5.010003e+12       1.0
1                                                NaN           NaN       NaN
2       New York Bakery Sesame Bagels 5 Pack, Bakery  5.020364e+12       1.0
3                                                NaN           NaN       NaN
4  Hovis Seed Sensations Maltd Wholegrain 800G, B...  5.010003e+12       1.0

  Unit  Unit weight  Total weight Unit price  Total price  ...  \
0   Kg         0.81          0.81       1.85         1.85  ...
1  NaN          NaN           NaN       GBP           NaN  ...
2   Kg         0.45          0.45        1.9         1.90  ...
3  NaN          NaN           NaN       GBP           NaN  ...
4   Kg         0.80          0.80       1.85         1.85  ...

   2024-05-22 00:00:00  2024-05-23 00:00:00  2024-05-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-05-25 00:00:00  2024-05-26 00:00:00  2024-05-27 00:00:00  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN

   2024-05-28 00:00:00  2024-05-29 00:00:00  2024-05-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Rugeley, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinmay', datetime.datetime(2024, 5, 1, 0, 0), datetime.datetime(2024, 5, 2, 0, 0), datetime.datetime(2024, 5, 3, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 5, 0, 0), datetime.datetime(2024, 5, 6, 0, 0), datetime.datetime(2024, 5, 7, 0, 0), datetime.datetime(2024, 5, 8, 0, 0), datetime.datetime(2024, 5, 9, 0, 0), datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 12, 0, 0), datetime.datetime(2024, 5, 13, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]
Sheet: Rugeley, Columns Detected: 11
Missing values in sheet Rugeley:
Category                        17
Product.brand..name.and.type    17
Barcode                         17
Quantity                        17
Unit                            17
Unit.weight                     17
Total.weight                    17
Unit.price                      17
Total.price                     17
SheetName                        0
dtype: int64
Cleaned data from sheet Rugeley:
                    Category  \
0  Bread and bread products
1                       NaN
2  Bread and bread products
3                       NaN
4  Bread and bread products

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Hovis Granary Thick Bread 800G, Bakery  5.010003e+12       1.0
1                                                NaN           NaN       NaN
2       New York Bakery Sesame Bagels 5 Pack, Bakery  5.020364e+12       1.0
3                                                NaN           NaN       NaN
4  Hovis Seed Sensations Maltd Wholegrain 800G, B...  5.010003e+12       1.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price SheetName
0   Kg         0.81          0.81       1.85         1.85   Rugeley
1  NaN          NaN           NaN       <NA>          NaN   Rugeley
2   Kg         0.45          0.45        1.9         1.90   Rugeley
3  NaN          NaN           NaN       <NA>          NaN   Rugeley
4   Kg         0.80          0.80       1.85         1.85   Rugeley
Missing values in consolidated data:
Date                            27
Category                         0
Product.brand..name.and.type     0
Barcode                          4
Quantity                         2
Unit                             2
Unit.weight                      2
Total.weight                     0
Unit.price                      48
Total.price                      0
SheetName                        0
dtype: int64

<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)
<ipython-input-67-7ec9b272f6d2>:66: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Cleaned data saved to /content/Cleaned_Fareshare_data_final.xlsx
         Date          Category  \
0  2024-05-01  Fresh vegetables
2  2024-05-01  Fresh vegetables
4  2024-05-01  Fresh vegetables
6  2024-05-01  Fresh vegetables
8  2024-05-01  Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg  3.424605e+06       8.0
2  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5.059697e+12       7.0
4        Tesco Mixed Peppers 420G (C), Fruit and Veg  3.274880e+06       1.0
6       Tesco Pink Lady Apple Pot 80G, Fruit and Veg  5.057753e+12       2.0
8  Tesco Nut Bites Mix Baklava Flavour 25G, Fruit...  5.059698e+12      10.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price SheetName
0   Kg         0.06          0.51       1.15         9.20    Hadley
2   Kg         0.03          0.18       0.75         5.95    Hadley
4   Kg         0.57          0.57        1.9         1.90    Hadley
6   Kg         0.09          0.18        1.3         2.60    Hadley
8   Kg         0.03          0.27       0.85         8.50    Hadley
<class 'pandas.core.frame.DataFrame'>
Index: 2063 entries, 0 to 4083
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          2036 non-null   object
 1   Category                      2063 non-null   object
 2   Product.brand..name.and.type  2063 non-null   object
 3   Barcode                       2059 non-null   float64
 4   Quantity                      2061 non-null   float64
 5   Unit                          2061 non-null   object
 6   Unit.weight                   2061 non-null   float64
 7   Total.weight                  2063 non-null   float64
 8   Unit.price                    2015 non-null   object
 9   Total.price                   2063 non-null   float64
 10  SheetName                     2063 non-null   object
dtypes: float64(5), object(6)
memory usage: 193.4+ KB
None

In [ ]:
#@title **Step 4: Waitrose data cleaning and merging**

In [ ]:
# Load the Waitrose sheet data to inspect it
waitrose_data = pd.read_excel(file_path, sheet_name="Waitrose")

# Display the first few rows of the raw data to understand its structure
print("Raw Waitrose Data:")
print(waitrose_data.head(50))

Raw Waitrose Data:
     Received                              Category  \
0  2024-05-29  Chilled products with dairy and eggs
1         NaT                          Chilled fish
2         NaT                          Chilled meat
3         NaT              Bread and bread products
4         NaT                      Fresh vegetables
5         NaT                           Fresh fruit
6         NaT                           Fresh fruit
7         NaT                           Fresh fruit
8         NaT                                   NaN
9  2024-06-08  Chilled products with dairy and eggs
10        NaT                              Category
11        NaT  Chilled products with dairy and eggs
12        NaT                          Chilled fish
13        NaT                          Chilled meat
14        NaT              Bread and bread products
15        NaT                      Fresh vegetables
16        NaT                           Fresh fruit
17 2024-06-15                           Fresh fruit
18        NaT                           Fresh fruit
19        NaT                                   NaN
20        NaT  Chilled products with dairy and eggs

    Product brand, name and type  Barcode  Quantity   unit  KG per unit  \
0                            NaN      NaN       2.5  crate          6.5
1                            NaN      NaN       0.5  crate          6.5
2                            NaN      NaN         1  crate          6.5
3                            NaN      NaN       1.5  crate          6.5
4       Lettuce and spring onion      NaN         3  crate          6.5
5                          melon      NaN         2  crate          6.5
6                         banana      NaN         4  crate           10
7                           kiwi      NaN         1  crate           10
8                            NaN      NaN       NaN  crate          NaN
9                            NaN      NaN         1  crate          6.5
10  Product brand, name and type  Barcode  Quantity   unit  KG per unit
11                           NaN      NaN  1.933065  crate          6.5
12                           NaN      NaN      1.95  crate     8.789474
13                           NaN      NaN  1.966935  crate     9.052632
14                           NaN      NaN  1.983871  crate     9.315789
15      Lettuce and spring onion      NaN  2.000806  crate     9.578947
16                         melon      NaN  2.017742  crate     9.842105
17                        banana      NaN  2.034677  crate    10.105263
18                          kiwi      NaN  2.051613  crate    10.368421
19                           NaN      NaN  2.068548  crate    10.631579
20                           NaN      NaN  2.085484  crate    10.894737

    Total weight  Unit price  Total price  Comment/Donated
0          16.25         NaN          NaN              NaN
1           3.25         NaN          NaN              NaN
2            6.5         NaN          NaN              NaN
3           9.75         NaN          NaN              NaN
4           19.5         NaN          NaN              NaN
5             13         NaN          NaN              NaN
6             40         NaN          NaN              NaN
7             10         NaN          NaN              NaN
8              0         NaN          NaN              NaN
9            6.5         NaN          NaN              NaN
10  Total weight  Unit price  Total price  Comment/Donated
11     12.564919         NaN          NaN              NaN
12     17.139474         NaN          NaN              NaN
13     17.805942         NaN          NaN              NaN
14     18.481324         NaN          NaN              NaN
15      19.16562         NaN          NaN              NaN
16     19.858829         NaN          NaN              NaN
17     20.560951         NaN          NaN              NaN
18     21.271986         NaN          NaN              NaN
19     21.991935         NaN          NaN              NaN
20     22.720798         NaN          NaN              NaN

In [ ]:
# Helper function to standardise column names
def standardize_column_name(name):
    if isinstance(name, str):
        return re.sub(r'[^a-z]', '', name.lower())
    return name

# Function to clean the Waitrose sheet
def clean_waitrose_sheet(data):
    # Standardise the column names
    data.columns = [standardize_column_name(col) for col in data.columns]

    # Convert empty strings to NaN
    data.replace("", pd.NA, inplace=True)

    # Fill missing Date values with the last valid observation forward
    data['received'] = data['received'].replace('nan', pd.NA)  # Treat 'nan' as NA
    data['received'].fillna(method='ffill', inplace=True)  # Forward fill the date

    # Ensure the 'received' column is treated as a string before applying string operations
    data['received'] = data['received'].astype(str)

    # Remove duplicate headers
    data = data[~data['received'].str.contains('Category', na=False)]

    # Drop completely empty rows
    data.dropna(how='all', inplace=True)

    # Replace remaining NaN values with "N/A"
    data.fillna(value="N/A", inplace=True)

    # Standardise column names to match the other datasets
    data.rename(columns={
        'received': 'Date',
        'category': 'Category',
        'productbrandnameandtype': 'Product.brand..name.and.type',
        'barcode': 'Barcode',
        'quantity': 'Quantity',
        'unit': 'Unit',
        'kgperunit': 'Unit.weight',
        'totalweight': 'Total.weight',
        'unitprice': 'Unit.price',
        'totalprice': 'Total.price',
        'commentdonated': 'Comment/Donated'
    }, inplace=True)

    # Format Date to remove time
    data['Date'] = pd.to_datetime(data['Date'], errors='coerce').dt.date

    # Add a column for the sheet name
    data['SheetName'] = 'Waitrose'

    # Rearrange columns to match the desired output
    column_order = ["Date", "Category", "Product.brand..name.and.type", "Barcode", "Quantity",
                    "Unit", "Unit.weight", "Total.weight", "Unit.price", "Total.price", "SheetName"]
    data = data[column_order]

    # Print the cleaned data for debugging
    print(f"Cleaned Waitrose Data:\n{data.head()}")

    return data

# Load the Waitrose sheet
file_path = "/content/James_Fareshare_Data/data/Fareshare records from April to July plus.xlsx"
waitrose_data = pd.read_excel(file_path, sheet_name="Waitrose")

# Apply the custom cleaning function to the Waitrose data
cleaned_waitrose_data = clean_waitrose_sheet(waitrose_data)

# Save the cleaned Waitrose data to an Excel file
waitrose_output_file_path = "/content/Cleaned_Waitrose_Data.xlsx"
cleaned_waitrose_data.to_excel(waitrose_output_file_path, index=False)

print(f"Cleaned Waitrose data saved to {waitrose_output_file_path}")

Cleaned Waitrose Data:
         Date                              Category  \
0  2024-05-29  Chilled products with dairy and eggs
1  2024-05-29                          Chilled fish
2  2024-05-29                          Chilled meat
3  2024-05-29              Bread and bread products
4  2024-05-29                      Fresh vegetables

  Product.brand..name.and.type Barcode Quantity   Unit Unit.weight  \
0                          N/A     N/A      2.5  crate         6.5
1                          N/A     N/A      0.5  crate         6.5
2                          N/A     N/A        1  crate         6.5
3                          N/A     N/A      1.5  crate         6.5
4     Lettuce and spring onion     N/A        3  crate         6.5

  Total.weight Unit.price Total.price SheetName
0        16.25        N/A         N/A  Waitrose
1         3.25        N/A         N/A  Waitrose
2          6.5        N/A         N/A  Waitrose
3         9.75        N/A         N/A  Waitrose
4         19.5        N/A         N/A  Waitrose
Cleaned Waitrose data saved to /content/Cleaned_Waitrose_Data.xlsx

<ipython-input-70-52f71b27336d>:17: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['received'].fillna(method='ffill', inplace=True)  # Forward fill the date

In [ ]:
# Load the previously cleaned data
cleaned_data = pd.read_excel("/content/Cleaned_Fareshare_data_final.xlsx")

# Append the cleaned Waitrose data
final_combined_data = pd.concat([cleaned_data, cleaned_waitrose_data], ignore_index=True)

# Save the final combined dataset
final_output_file_path = "/content/Combined_Fareshare_With_Waitrose_Data.xlsx"
final_combined_data.to_excel(final_output_file_path, index=False)

print(f"Final combined data saved to {final_output_file_path}")

# Load the final combined dataset to verify
final_data = pd.read_excel(final_output_file_path)

# Display the first few rows to ensure the data is correctly combined
print("Final Combined Data:")
print(final_data.head())

Final combined data saved to /content/Combined_Fareshare_With_Waitrose_Data.xlsx
Final Combined Data:
        Date          Category  \
0 2024-05-01  Fresh vegetables
1 2024-05-01  Fresh vegetables
2 2024-05-01  Fresh vegetables
3 2024-05-01  Fresh vegetables
4 2024-05-01  Fresh vegetables

                        Product.brand..name.and.type        Barcode Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg        3424605        8
1  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5059697254093        7
2        Tesco Mixed Peppers 420G (C), Fruit and Veg        3274880        1
3       Tesco Pink Lady Apple Pot 80G, Fruit and Veg  5057753494520        2
4  Tesco Nut Bites Mix Baklava Flavour 25G, Fruit...  5059697684951       10

  Unit Unit.weight Total.weight Unit.price Total.price SheetName
0   Kg        0.06         0.51       1.15         9.2    Hadley
1   Kg        0.03         0.18       0.75        5.95    Hadley
2   Kg        0.57         0.57        1.9         1.9    Hadley
3   Kg        0.09         0.18        1.3         2.6    Hadley
4   Kg        0.03         0.27       0.85         8.5    Hadley

In [ ]:
# Load the final merged dataset
file_path = "/content/Combined_Fareshare_With_Waitrose_Data.xlsx"  # Update this with your actual file path
final_data = pd.read_excel(file_path)

# Convert dates to only include day, month, and year
final_data['Date'] = pd.to_datetime(final_data['Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Update the 'Unit' column: change "Kg" to "Item", leave "Crate" as is
final_data['Unit'] = final_data['Unit'].astype(str).apply(lambda x: 'Item' if x.lower() == 'kg' else x)

# Update headers for weight-related columns to include "(Kg)"
final_data.rename(columns={
    'Unit.weight': 'Unit.weight (Kg)',
    'Total.weight': 'Total.weight (Kg)',
}, inplace=True)

# Save the updated dataset to a new Excel file
output_file_path = "/content/Final_Cleaned_Fareshare_Data.xlsx"
final_data.to_excel(output_file_path, index=False)

print(f"Updated dataset saved to {output_file_path}")

# Display the first few rows of the updated dataframe to verify changes
print(final_data.head())

Updated dataset saved to /content/Final_Cleaned_Fareshare_Data.xlsx
         Date          Category  \
0  2024-05-01  Fresh vegetables
1  2024-05-01  Fresh vegetables
2  2024-05-01  Fresh vegetables
3  2024-05-01  Fresh vegetables
4  2024-05-01  Fresh vegetables

                        Product.brand..name.and.type        Barcode Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg        3424605        8
1  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5059697254093        7
2        Tesco Mixed Peppers 420G (C), Fruit and Veg        3274880        1
3       Tesco Pink Lady Apple Pot 80G, Fruit and Veg  5057753494520        2
4  Tesco Nut Bites Mix Baklava Flavour 25G, Fruit...  5059697684951       10

   Unit Unit.weight (Kg) Total.weight (Kg) Unit.price Total.price SheetName
0  Item             0.06              0.51       1.15         9.2    Hadley
1  Item             0.03              0.18       0.75        5.95    Hadley
2  Item             0.57              0.57        1.9         1.9    Hadley
3  Item             0.09              0.18        1.3         2.6    Hadley
4  Item             0.03              0.27       0.85         8.5    Hadley

In [ ]:
# Made some edits in the actiual excel file for simplicity

In [ ]:
final = "/content/James_Fareshare_Data/data/Final_Cleaned_Fareshare_Data.xlsx"


# Load the existing cleaned file
final_data = pd.read_excel(final)

# Define a function to remove anything in parentheses
def remove_parentheses(text):
    return re.sub(r'\s*\(.*?\)\s*', '', str(text))

# Apply the function to the "Location/Store" column
final_data['Location/Store'] = final_data['Location/Store'].apply(remove_parentheses)

# Ensure the Date column is in the correct format (day-month-year)
final_data['Date'] = pd.to_datetime(final_data['Date'], errors='coerce').dt.strftime('%d-%m-%Y')

# Define the new save path
save_path = "/content/Fareshare_Data.xlsx"

# Save the updated dataframe back to the Excel file
final_data.to_excel(save_path, index=False)

# Print a confirmation message
print(f"saved to {save_path}")

saved to /content/Fareshare_Data.xlsx