<a href="https://colab.research.google.com/github/HAUCommunityFridge/James_Fareshare_Data/blob/main/scripts/datacleaning.ipynb" target="_parent">
<img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
# Imports
import pandas as pd
import os
import re
from openpyxl import load_workbook
from datetime import datetime

In [2]:
#@title **Step 1: Clone the GitHub Repository**
# This step clones the required GitHub repository into the Colab environment.

# Define the path where the repository will be cloned
repo_path = '/content/James_Fareshare_Data'

# Check if the repository already exists
if not os.path.exists(repo_path):
    # Clone the repository if it doesn't exist
    !git clone https://github.com/HAUCommunityFridge/James_Fareshare_Data
else:
    # If the repository exists, pull the latest changes
    os.chdir(repo_path)
    !git pull

# Verify cloned repository
print("Repository contents:")
!ls /content/James_Fareshare_Data

Already up to date.
Repository contents:
data  docs  James_Fareshare_Data.Rproj	scripts

In [ ]:
#@title **Step 2: Inital loading**

In [5]:
# Define the file path to the Excel file
file_path = "/content/James_Fareshare_Data/data/ORIGINAL Fareshare records from April to 6 Aug plus.xlsx"

# Load the workbook and get the sheet names
workbook = load_workbook(filename=file_path, read_only=True)
sheet_names = workbook.sheetnames

# Specify the sheets to ignore based on their indices
# These sheets may contain metadata or irrelevant information
sheets_to_ignore = [0, 1, 8, 11, 13, 14, 15, 16]

# Exclude the specified sheets from the list of sheets to load
sheets_to_load = [sheet for idx, sheet in enumerate(sheet_names) if idx not in sheets_to_ignore]

In [26]:
#@title **Step 3: Inital data cleaning and merging**

In [6]:
# Define the standard column names to be used across all sheets, including "Stock code"
column_names = ["Date", "Category", "Product.brand..name.and.type", "Barcode", "Quantity", "Unit",
                "Unit.weight", "Total.weight", "Unit.price", "Total.price", "Expiry.date", "Batch.code", "Stock.code", "SheetName"]

# Helper function to standardize column names
def standardize_column_name(name):
    if isinstance(name, str):
        return re.sub(r'[^a-z]', '', name.lower())
    return name

# Function to clean the 'Total.price' column by removing the 'GBP' suffix and converting to a float
def clean_total_price(price):
    if isinstance(price, str) and 'GBP' in price:
        return float(price.replace(' GBP', '').strip())
    return price

# Function to handle orphaned days with user input
def handle_orphaned_days(data):
    last_valid_date = None
    for i, date in enumerate(data['Date']):
        if pd.isna(date):
            continue
        if date.year == 1970:
            # Orphaned day detected
            if last_valid_date:
                # Find the next valid date, ignoring NaT values
                next_valid_date = None
                for j in range(i + 1, len(data)):
                    if pd.notna(data['Date'].iloc[j]):
                        next_valid_date = data['Date'].iloc[j]
                        break

                # Show previous and next date to the user
                print(f"\nOrphaned entry detected at index {i}. Day: {date.day}")
                print(f"Previous date: {last_valid_date}")
                if next_valid_date:
                    print(f"Next date: {next_valid_date}")
                else:
                    print("No next date available.")

                # Prompt the user to confirm or correct the date
                user_input = input(f"Enter the correct date for this entry (YYYY-MM-DD) or press Enter to use {last_valid_date.year}-{last_valid_date.month}-{date.day}: ")
                if user_input:
                    correct_date = pd.to_datetime(user_input)
                else:
                    correct_date = pd.to_datetime(f"{last_valid_date.year}-{last_valid_date.month}-{date.day}")
                data.at[i, 'Date'] = correct_date
            else:
                print(f"No previous valid date to infer from. Entry at index {i} will be skipped.")
        else:
            last_valid_date = date
    return data

# Function to load and clean each sheet
def clean_sheet(sheet_name):
    # Load the sheet into a DataFrame
    data = pd.read_excel(file_path, sheet_name=sheet_name)

    # Print the first few rows of the original sheet for inspection
    print(f"Original data from sheet {sheet_name}:\n", data.head())

    # Standardize the column names
    data.columns = [standardize_column_name(col) for col in data.columns]

    # Print actual column names for debugging
    print(f"Sheet: {sheet_name}, Columns: {data.columns.tolist()}")

    # Limit the columns to only those that are relevant up to and including 'Stock code'
    relevant_columns = column_names[:-1]  # Exclude 'SheetName' for now
    if len(data.columns) > len(relevant_columns):
        data = data.iloc[:, :len(relevant_columns)]

    # Rename columns to the standard column names
    data.columns = relevant_columns[:len(data.columns)]

    # Add a 'SheetName' column
    data['SheetName'] = sheet_name

    # Remove rows with all NaN values
    data = data.dropna(how='all')

    # Process the 'Date' column: convert to datetime and handle missing dates
    if "Date" in data.columns:
        data['Date'] = pd.to_datetime(data['Date'], errors='coerce', dayfirst=True)

        # Handle orphaned day entries with user input
        data = handle_orphaned_days(data)

        # Forward fill any missing dates
        data['Date'] = data['Date'].ffill()

    # Clean the 'Total.price' column
    if 'Total.price' in data.columns:
        data['Total.price'] = data['Total.price'].apply(clean_total_price)
        data['Total.price'] = pd.to_numeric(data['Total.price'], errors='coerce')

    # Remove rows containing 'GBP' for now
    data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

    # Drop columns containing only NA values
    data = data.dropna(axis=1, how='all')

    # Check for missing values in the cleaned data
    missing_values = data.isna().sum()
    print(f"Missing values in sheet {sheet_name}:\n{missing_values}")

    # Print the first few rows of the cleaned data
    print(f"Cleaned data from sheet {sheet_name}:\n", data.head())

    return data

# Load and clean all relevant sheets, storing each cleaned DataFrame in a list
data_list = [clean_sheet(sheet) for sheet in sheets_to_load]

# Remove NULL elements from the list, if any
data_list = [data for data in data_list if data is not None]

# Combine all cleaned data into a single DataFrame
if data_list:
    consolidated_data = pd.concat(data_list, ignore_index=True)

    # Ensure 'Stock code' is included and not dropped
    if 'Stock.code' not in consolidated_data.columns:
        consolidated_data['Stock.code'] = pd.NA

    # Remove rows where 'Category' is NaN, as they may not be useful
    consolidated_data = consolidated_data[consolidated_data['Category'].notna()]

    # Remove duplicate rows
    consolidated_data = consolidated_data.drop_duplicates()

    # Check for missing values in the consolidated data
    missing_values_consolidated = consolidated_data.isna().sum()
    print(f"Missing values in consolidated data:\n{missing_values_consolidated}")

    # Save the cleaned data to a new Excel file
    output_file_path = "/content/Cleaned_Fareshare_Data.xlsx"
    consolidated_data.to_excel(output_file_path, index=False)

    print(f"Cleaned data saved to {output_file_path}")

    # Display the first few rows of the cleaned DataFrame
    print(consolidated_data.head())

    # Display the structure of the cleaned DataFrame
    print(consolidated_data.info())
else:
    print("No valid data found to consolidate.")

Original data from sheet Hadley:
     Received          Category  \
0 2024-05-01  Fresh vegetables
1 2024-05-01               NaN
2 2024-05-01  Fresh vegetables
3 2024-05-01               NaN
4 2024-05-01  Fresh vegetables

                        Product brand, name and type       Barcode  Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg  3.424605e+06       8.0
1                                                NaN           NaN       NaN
2  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5.059697e+12       7.0
3                                                NaN           NaN       NaN
4        Tesco Mixed Peppers 420G (C), Fruit and Veg  3.274880e+06       1.0

  Unit  Unit weight  Total weight Unit price  Total price  ...  \
0   Kg         0.06          0.51       1.15         9.20  ...
1  NaN          NaN           NaN       GBP           NaN  ...
2   Kg         0.03          0.18       0.75         5.95  ...
3  NaN          NaN           NaN       GBP           NaN  ...
4   Kg         0.57          0.57        1.9         1.90  ...

   2024-05-22 00:00:00  2024-05-23 00:00:00  2024-05-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-05-25 00:00:00  2024-05-26 00:00:00  2024-05-27 00:00:00  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN

   2024-05-28 00:00:00  2024-05-29 00:00:00  2024-05-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Hadley, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinmay', datetime.datetime(2024, 5, 1, 0, 0), datetime.datetime(2024, 5, 2, 0, 0), datetime.datetime(2024, 5, 3, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 5, 0, 0), datetime.datetime(2024, 5, 6, 0, 0), datetime.datetime(2024, 5, 7, 0, 0), datetime.datetime(2024, 5, 8, 0, 0), datetime.datetime(2024, 5, 9, 0, 0), datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 12, 0, 0), datetime.datetime(2024, 5, 13, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]
Missing values in sheet Hadley:
Date                             0
Category                        50
Product.brand..name.and.type    50
Barcode                         50
Quantity                        50
Unit                            50
Unit.weight                     50
Total.weight                    50
Unit.price                      50
Total.price                     50
Stock.code                      50
SheetName                        0
dtype: int64
Cleaned data from sheet Hadley:
         Date          Category  \
0 2024-05-01  Fresh vegetables
1 2024-05-01               NaN
2 2024-05-01  Fresh vegetables
3 2024-05-01               NaN
4 2024-05-01  Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg  3.424605e+06       8.0
1                                                NaN           NaN       NaN
2  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5.059697e+12       7.0
3                                                NaN           NaN       NaN
4        Tesco Mixed Peppers 420G (C), Fruit and Veg  3.274880e+06       1.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.06          0.51       1.15         9.20  90606230.0
1  NaN          NaN           NaN       <NA>          NaN         NaN
2   Kg         0.03          0.18       0.75         5.95  91177343.0
3  NaN          NaN           NaN       <NA>          NaN         NaN
4   Kg         0.57          0.57        1.9         1.90  82909195.0

  SheetName
0    Hadley
1    Hadley
2    Hadley
3    Hadley
4    Hadley
Original data from sheet Market Drayton (Aug):

<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)
<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

    Received          Category  \
0 2024-08-01  Fresh vegetables
1 2024-08-01               NaN
2        NaT  Fresh vegetables
3        NaT               NaN
4        NaT  Fresh vegetables

                        Product brand, name and type     Barcode  Quantity  \
0  Tesco Closed Cup Mushrooms 300G (C), Fruit and...  10111420.0       1.0
1                                                NaN         NaN       NaN
2                  Tesco Spinach 250G, Fruit and Veg   3285732.0       1.0
3                                                NaN         NaN       NaN
4                  Tesco Houmous 200G, Fruit and Veg  10065907.0       4.0

  Unit  Unit weight  Total weight Unit price Total price  ...  \
0   Kg         0.32          0.32          1    1.00 GBP  ...
1  NaN          NaN           NaN        GBP         NaN  ...
2   Kg         0.28          0.28        1.3    1.30 GBP  ...
3  NaN          NaN           NaN        GBP         NaN  ...
4   Kg         0.22          0.90        1.4    5.60 GBP  ...

   2024-08-22 00:00:00  2024-08-23 00:00:00  2024-08-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-08-25 00:00:00  2024-08-26 00:00:00  2024-08-27 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-08-28 00:00:00  2024-08-29 00:00:00  2024-08-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-08-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Market Drayton (Aug), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinaug', datetime.datetime(2024, 8, 1, 0, 0), datetime.datetime(2024, 8, 2, 0, 0), datetime.datetime(2024, 8, 3, 0, 0), datetime.datetime(2024, 8, 4, 0, 0), datetime.datetime(2024, 8, 5, 0, 0), datetime.datetime(2024, 8, 6, 0, 0), datetime.datetime(2024, 8, 7, 0, 0), datetime.datetime(2024, 8, 8, 0, 0), datetime.datetime(2024, 8, 9, 0, 0), datetime.datetime(2024, 8, 10, 0, 0), datetime.datetime(2024, 8, 11, 0, 0), datetime.datetime(2024, 8, 12, 0, 0), datetime.datetime(2024, 8, 13, 0, 0), datetime.datetime(2024, 8, 14, 0, 0), datetime.datetime(2024, 8, 15, 0, 0), datetime.datetime(2024, 8, 16, 0, 0), datetime.datetime(2024, 8, 17, 0, 0), datetime.datetime(2024, 8, 18, 0, 0), datetime.datetime(2024, 8, 19, 0, 0), datetime.datetime(2024, 8, 20, 0, 0), datetime.datetime(2024, 8, 21, 0, 0), datetime.datetime(2024, 8, 22, 0, 0), datetime.datetime(2024, 8, 23, 0, 0), datetime.datetime(2024, 8, 24, 0, 0), datetime.datetime(2024, 8, 25, 0, 0), datetime.datetime(2024, 8, 26, 0, 0), datetime.datetime(2024, 8, 27, 0, 0), datetime.datetime(2024, 8, 28, 0, 0), datetime.datetime(2024, 8, 29, 0, 0), datetime.datetime(2024, 8, 30, 0, 0), datetime.datetime(2024, 8, 31, 0, 0)]
Missing values in sheet Market Drayton (Aug):
Date                              0
Category                        188
Product.brand..name.and.type    188
Barcode                         188
Quantity                        188
Unit                            188
Unit.weight                     188
Total.weight                    188
Unit.price                      188
Total.price                     188
Stock.code                      188
SheetName                         0
dtype: int64
Cleaned data from sheet Market Drayton (Aug):
         Date          Category  \
0 2024-08-01  Fresh vegetables
1 2024-08-01               NaN
2 2024-08-01  Fresh vegetables
3 2024-08-01               NaN
4 2024-08-01  Fresh vegetables

                        Product.brand..name.and.type     Barcode  Quantity  \
0  Tesco Closed Cup Mushrooms 300G (C), Fruit and...  10111420.0       1.0
1                                                NaN         NaN       NaN
2                  Tesco Spinach 250G, Fruit and Veg   3285732.0       1.0
3                                                NaN         NaN       NaN
4                  Tesco Houmous 200G, Fruit and Veg  10065907.0       4.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.32          0.32          1          1.0  67754468.0
1  NaN          NaN           NaN       <NA>          NaN         NaN
2   Kg         0.28          0.28        1.3          1.3  85434472.0
3  NaN          NaN           NaN       <NA>          NaN         NaN
4   Kg         0.22          0.90        1.4          5.6  51996033.0

              SheetName
0  Market Drayton (Aug)
1  Market Drayton (Aug)
2  Market Drayton (Aug)
3  Market Drayton (Aug)
4  Market Drayton (Aug)
Original data from sheet Market Drayton (July):
               Received          Category  \
0  2024-07-01 00:00:00  Fresh vegetables
1                  NaN               NaN
2                  NaN  Fresh vegetables
3                  NaN               NaN
4                  NaN  Fresh vegetables

                        Product brand, name and type       Barcode  Quantity  \
0                Tesco Courgettes (C), Fruit and Veg  5.057754e+12       3.0
1                                                NaN           NaN       NaN
2  Tesco Flat Peach Mineral 3 Pack (C), Fruit and...  3.259412e+06       1.0
3                                                NaN           NaN       NaN
4      Tesco Iceberg Lettuce Each (C), Fruit and Veg  3.043868e+06       1.0

  Unit  Unit weight  Total weight Unit price Total price  ...  \
0   Kg         0.67          2.00        1.5   4.50 GBP   ...
1  NaN          NaN           NaN       GBP          NaN  ...
2   Kg         0.05          0.05        1.5   1.50 GBP   ...
3  NaN          NaN           NaN       GBP          NaN  ...
4   Kg         0.57          0.57        0.9   0.90 GBP   ...

   2024-07-22 00:00:00  2024-07-23 00:00:00  2024-07-24 00:00:00  \
0               29.117               20.524               13.516
1              197.200              139.200               75.950
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-07-25 00:00:00  2024-07-26 00:00:00  2024-07-27 00:00:00  \
0               41.287               29.927               34.277
1              148.250              190.550              234.800
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-07-28 00:00:00  2024-07-29 00:00:00  2024-07-30 00:00:00  \
0               14.422               35.732               30.124
1               80.250              221.700              195.300
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-07-31 00:00:00
0              25.321
1             150.390
2                 NaN
3                 NaN
4                 NaN

[5 rows x 47 columns]
Sheet: Market Drayton (July), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinjuly', datetime.datetime(2024, 7, 1, 0, 0), datetime.datetime(2024, 7, 2, 0, 0), datetime.datetime(2024, 7, 3, 0, 0), datetime.datetime(2024, 7, 4, 0, 0), datetime.datetime(2024, 7, 5, 0, 0), datetime.datetime(2024, 7, 6, 0, 0), datetime.datetime(2024, 7, 7, 0, 0), 'unscanned', datetime.datetime(2024, 7, 8, 0, 0), datetime.datetime(2024, 7, 9, 0, 0), datetime.datetime(2024, 7, 10, 0, 0), datetime.datetime(2024, 7, 11, 0, 0), datetime.datetime(2024, 7, 12, 0, 0), datetime.datetime(2024, 7, 13, 0, 0), datetime.datetime(2024, 7, 14, 0, 0), datetime.datetime(2024, 7, 15, 0, 0), datetime.datetime(2024, 7, 16, 0, 0), datetime.datetime(2024, 7, 17, 0, 0), datetime.datetime(2024, 7, 18, 0, 0), datetime.datetime(2024, 7, 19, 0, 0), datetime.datetime(2024, 7, 20, 0, 0), datetime.datetime(2024, 7, 21, 0, 0), datetime.datetime(2024, 7, 22, 0, 0), datetime.datetime(2024, 7, 23, 0, 0), datetime.datetime(2024, 7, 24, 0, 0), datetime.datetime(2024, 7, 25, 0, 0), datetime.datetime(2024, 7, 26, 0, 0), datetime.datetime(2024, 7, 27, 0, 0), datetime.datetime(2024, 7, 28, 0, 0), datetime.datetime(2024, 7, 29, 0, 0), datetime.datetime(2024, 7, 30, 0, 0), datetime.datetime(2024, 7, 31, 0, 0)]
Missing values in sheet Market Drayton (July):
Date                              0
Category                        901
Product.brand..name.and.type    901
Barcode                         901
Quantity                        901
Unit                            901
Unit.weight                     901
Total.weight                    901
Unit.price                      901
Total.price                     901
Stock.code                      901
SheetName                         0
dtype: int64
Cleaned data from sheet Market Drayton (July):
         Date          Category  \
0 2024-07-01  Fresh vegetables
1 2024-07-01               NaN
2 2024-07-01  Fresh vegetables
3 2024-07-01               NaN
4 2024-07-01  Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0                Tesco Courgettes (C), Fruit and Veg  5.057754e+12       3.0
1                                                NaN           NaN       NaN
2  Tesco Flat Peach Mineral 3 Pack (C), Fruit and...  3.259412e+06       1.0
3                                                NaN           NaN       NaN
4      Tesco Iceberg Lettuce Each (C), Fruit and Veg  3.043868e+06       1.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.67          2.00        1.5          4.5  85991689.0
1  NaN          NaN           NaN       <NA>          NaN         NaN
2   Kg         0.05          0.05        1.5          1.5  78796891.0
3  NaN          NaN           NaN       <NA>          NaN         NaN
4   Kg         0.57          0.57        0.9          0.9  57435913.0

               SheetName
0  Market Drayton (July)
1  Market Drayton (July)
2  Market Drayton (July)
3  Market Drayton (July)
4  Market Drayton (July)

<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Market Drayton (June):
     Received                              Category  \
0 2024-06-01  Chilled products with dairy and eggs
1 2024-06-01                                   NaN
2        NaT  Chilled products with dairy and eggs
3        NaT                                   NaN
4        NaT  Chilled products with dairy and eggs

                        Product brand, name and type       Barcode  Quantity  \
0             Tesco Chicken Drumsticks 600G, Chilled  5.054269e+12       1.0
1                                                NaN           NaN       NaN
2    Tesco British Whole Milk 568Ml, 1 Pint, Chilled  5.031021e+12       9.0
3                                                NaN           NaN       NaN
4  Tesco Organic British Whole Milk 2.272L/4 Pint...  5.050180e+12       6.0

  Unit  Unit weight  Total weight Unit price Total price  ...  \
0   Kg         0.70          0.70        2.3   2.70 GBP   ...
1  NaN          NaN           NaN       GBP          NaN  ...
2   Kg         0.60          5.40        0.9   8.10 GBP   ...
3  NaN          NaN           NaN       GBP          NaN  ...
4   Kg         2.37         14.24        2.3  13.80 GBP   ...

   2024-06-21 00:00:00  2024-06-22 00:00:00  2024-06-23 00:00:00  \
0               36.155               30.081               43.388
1              172.050              186.850              110.050
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-06-24 00:00:00  2024-06-25 00:00:00  2024-06-26 00:00:00  \
0               24.441               19.181               16.054
1              178.400              122.600               73.220
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-06-27 00:00:00  2024-06-28 00:00:00  2024-06-29 00:00:00  \
0                   30               54.708               30.731
1                  180              295.950              207.200
2                  NaN                  NaN                  NaN
3        Scanned 7.809                  NaN                  NaN
4                61.25                  NaN                  NaN

   2024-06-30 00:00:00
0               47.755
1              220.500
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Market Drayton (June), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinjune', datetime.datetime(2024, 6, 1, 0, 0), datetime.datetime(2024, 6, 2, 0, 0), datetime.datetime(2024, 6, 3, 0, 0), datetime.datetime(2024, 6, 4, 0, 0), datetime.datetime(2024, 6, 5, 0, 0), datetime.datetime(2024, 6, 6, 0, 0), datetime.datetime(2024, 6, 7, 0, 0), datetime.datetime(2024, 6, 8, 0, 0), datetime.datetime(2024, 6, 9, 0, 0), datetime.datetime(2024, 6, 10, 0, 0), datetime.datetime(2024, 6, 11, 0, 0), datetime.datetime(2024, 6, 12, 0, 0), datetime.datetime(2024, 6, 13, 0, 0), datetime.datetime(2024, 6, 14, 0, 0), datetime.datetime(2024, 6, 15, 0, 0), datetime.datetime(2024, 6, 16, 0, 0), 'unrecorded', datetime.datetime(2024, 6, 17, 0, 0), datetime.datetime(2024, 6, 18, 0, 0), datetime.datetime(2024, 6, 19, 0, 0), datetime.datetime(2024, 6, 20, 0, 0), datetime.datetime(2024, 6, 21, 0, 0), datetime.datetime(2024, 6, 22, 0, 0), datetime.datetime(2024, 6, 23, 0, 0), datetime.datetime(2024, 6, 24, 0, 0), datetime.datetime(2024, 6, 25, 0, 0), datetime.datetime(2024, 6, 26, 0, 0), datetime.datetime(2024, 6, 27, 0, 0), datetime.datetime(2024, 6, 28, 0, 0), datetime.datetime(2024, 6, 29, 0, 0), datetime.datetime(2024, 6, 30, 0, 0)]
Missing values in sheet Market Drayton (June):
Date                              0
Category                        823
Product.brand..name.and.type    823
Barcode                         823
Quantity                        823
Unit                            823
Unit.weight                     823
Total.weight                    823
Unit.price                      823
Total.price                     823
Stock.code                      823
SheetName                         0
dtype: int64
Cleaned data from sheet Market Drayton (June):
         Date                              Category  \
0 2024-06-01  Chilled products with dairy and eggs
1 2024-06-01                                   NaN
2 2024-06-01  Chilled products with dairy and eggs
3 2024-06-01                                   NaN
4 2024-06-01  Chilled products with dairy and eggs

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Tesco Chicken Drumsticks 600G, Chilled  5.054269e+12       1.0
1                                                NaN           NaN       NaN
2    Tesco British Whole Milk 568Ml, 1 Pint, Chilled  5.031021e+12       9.0
3                                                NaN           NaN       NaN
4  Tesco Organic British Whole Milk 2.272L/4 Pint...  5.050180e+12       6.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.70          0.70        2.3          2.7  78939199.0
1  NaN          NaN           NaN       <NA>          NaN         NaN
2   Kg         0.60          5.40        0.9          8.1  52466256.0
3  NaN          NaN           NaN       <NA>          NaN         NaN
4   Kg         2.37         14.24        2.3         13.8  55595708.0

               SheetName
0  Market Drayton (June)
1  Market Drayton (June)
2  Market Drayton (June)
3  Market Drayton (June)
4  Market Drayton (June)

<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Market Drayton (May):
               Received          Category  \
0  2024-05-01 00:00:00  Fresh vegetables
1  2024-05-01 00:00:00               NaN
2  2024-05-01 00:00:00  Fresh vegetables
3  2024-05-01 00:00:00               NaN
4  2024-05-01 00:00:00  Fresh vegetables

                 Product brand, name and type     Barcode  Quantity Unit  \
0     Tesco Babyleaf Salad 90G, Fruit and Veg   3312957.0       3.0   Kg
1                                         NaN         NaN       NaN  NaN
2  Tesco Little Gem 2 Pack (C), Fruit and Veg  10006962.0       2.0   Kg
3                                         NaN         NaN       NaN  NaN
4  Tesco Blackberries 150G (C), Fruit and Veg   3257272.0       6.0   Kg

   Unit weight  Total weight Unit price Total price  ...  2024-05-22 00:00:00  \
0         0.10          0.29        NaN         3.3  ...                22.59
1          NaN           NaN        NaN         NaN  ...               140.50
2         0.26          0.52        NaN         1.8  ...                  NaN
3          NaN           NaN        NaN         NaN  ...                  NaN
4         0.17          0.99        NaN        12.6  ...                  NaN

   2024-05-23 00:00:00  2024-05-24 00:00:00 2024-05-25 00:00:00  \
0                10.26                35.73                41.2
1                98.25               183.55               195.1
2                  NaN                  NaN                 NaN
3                  NaN                  NaN                 NaN
4                  NaN                  NaN                 NaN

   2024-05-26 00:00:00  2024-05-27 00:00:00  2024-05-28 00:00:00  \
0                 22.9                31.18                23.91
1                189.4               131.80               220.94
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-29 00:00:00  2024-05-30 00:00:00  2024-05-31 00:00:00
0                37.74                12.64               14.406
1               201.40                58.55              113.400
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

[5 rows x 47 columns]
Sheet: Market Drayton (May), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'unnamed', 'totalinmay', datetime.datetime(2024, 5, 1, 0, 0), datetime.datetime(2024, 5, 2, 0, 0), datetime.datetime(2024, 5, 3, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 5, 0, 0), datetime.datetime(2024, 5, 6, 0, 0), datetime.datetime(2024, 5, 7, 0, 0), datetime.datetime(2024, 5, 8, 0, 0), datetime.datetime(2024, 5, 9, 0, 0), datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 12, 0, 0), datetime.datetime(2024, 5, 13, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]

Orphaned entry detected at index 536. Day: 1
Previous date: 2024-05-14 00:00:00
Next date: 2024-05-16 00:00:00
Enter the correct date for this entry (YYYY-MM-DD) or press Enter to use 2024-5-1: 2024-05-15

<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Missing values in sheet Market Drayton (May):
Date                              0
Category                        720
Product.brand..name.and.type    720
Barcode                         724
Quantity                        722
Unit                            722
Unit.weight                     722
Total.weight                    720
Unit.price                      768
Total.price                     720
Stock.code                      724
SheetName                         0
dtype: int64
Cleaned data from sheet Market Drayton (May):
         Date          Category                Product.brand..name.and.type  \
0 2024-05-01  Fresh vegetables     Tesco Babyleaf Salad 90G, Fruit and Veg
1 2024-05-01               NaN                                         NaN
2 2024-05-01  Fresh vegetables  Tesco Little Gem 2 Pack (C), Fruit and Veg
3 2024-05-01               NaN                                         NaN
4 2024-05-01  Fresh vegetables  Tesco Blackberries 150G (C), Fruit and Veg

      Barcode  Quantity Unit  Unit.weight  Total.weight Unit.price  \
0   3312957.0       3.0   Kg         0.10          0.29        NaN
1         NaN       NaN  NaN          NaN           NaN        NaN
2  10006962.0       2.0   Kg         0.26          0.52        NaN
3         NaN       NaN  NaN          NaN           NaN        NaN
4   3257272.0       6.0   Kg         0.17          0.99        NaN

   Total.price  Stock.code             SheetName
0          3.3  86004395.0  Market Drayton (May)
1          NaN         NaN  Market Drayton (May)
2          1.8  66652291.0  Market Drayton (May)
3          NaN         NaN  Market Drayton (May)
4         12.6  78589566.0  Market Drayton (May)
Original data from sheet Market Drayton (April):
     Received          Category  \
0 2024-04-22  Fresh vegetables
1        NaT               NaN
2        NaT  Fresh vegetables
3        NaT               NaN
4        NaT  Fresh vegetables

                        Product brand, name and type     Barcode  Quantity  \
0     Jaffa Orange Minimum 4 Pack (C), Fruit and Veg  10004241.0       3.0
1                                                NaN         NaN       NaN
2                    Lemons 4Pack (C), Fruit and Veg  10098752.0       9.0
3                                                NaN         NaN       NaN
4  Tesco Granny Smith Apple 6 Pack (C), Fruit and...   3249499.0       3.0

  Unit  Unit weight  Total weight Unit price  Total price  ...  \
0   Kg         0.75          2.24          2         6.90  ...
1  NaN          NaN           NaN       GBP           NaN  ...
2   Kg         0.50          4.49        1.4        12.60  ...
3  NaN          NaN           NaN       GBP           NaN  ...
4   Kg         0.87          2.60       1.95         5.85  ...

   2024-05-22 00:00:00  2024-05-23 00:00:00  2024-05-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-05-25 00:00:00  2024-05-26 00:00:00  2024-05-27 00:00:00  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN

   2024-05-28 00:00:00  2024-05-29 00:00:00  2024-05-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Market Drayton (April), Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinmay', datetime.datetime(2024, 4, 22, 0, 0), datetime.datetime(2024, 4, 23, 0, 0), datetime.datetime(2024, 4, 24, 0, 0), datetime.datetime(2024, 4, 25, 0, 0), datetime.datetime(2024, 4, 26, 0, 0), datetime.datetime(2024, 4, 27, 0, 0), datetime.datetime(2024, 4, 28, 0, 0), datetime.datetime(2024, 4, 29, 0, 0), datetime.datetime(2024, 4, 30, 0, 0), 'unnamed', 'unnamed', 'unnamed', 'unnamed', 'unnamed', datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]
Missing values in sheet Market Drayton (April):
Date                             0
Category                        93
Product.brand..name.and.type    92
Barcode                         93
Quantity                        92
Unit                            93
Unit.weight                     93
Total.weight                    92
Unit.price                      92
Total.price                     92
Stock.code                      93
SheetName                        0
dtype: int64
Cleaned data from sheet Market Drayton (April):
         Date          Category  \
0 2024-04-22  Fresh vegetables
1 2024-04-22               NaN
2 2024-04-22  Fresh vegetables
3 2024-04-22               NaN
4 2024-04-22  Fresh vegetables

                        Product.brand..name.and.type     Barcode  Quantity  \
0     Jaffa Orange Minimum 4 Pack (C), Fruit and Veg  10004241.0       3.0
1                                                NaN         NaN       NaN
2                    Lemons 4Pack (C), Fruit and Veg  10098752.0       9.0
3                                                NaN         NaN       NaN
4  Tesco Granny Smith Apple 6 Pack (C), Fruit and...   3249499.0       3.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.75          2.24          2         6.90  52714038.0
1  NaN          NaN           NaN       <NA>          NaN         NaN
2   Kg         0.50          4.49        1.4        12.60  65268091.0
3  NaN          NaN           NaN       <NA>          NaN         NaN
4   Kg         0.87          2.60       1.95         5.85  77090707.0

                SheetName
0  Market Drayton (April)
1  Market Drayton (April)
2  Market Drayton (April)
3  Market Drayton (April)
4  Market Drayton (April)
Original data from sheet Madeley:
     Received          Category  \
0 2024-05-02  Fresh vegetables
1 2024-05-02               NaN
2 2024-05-02  Fresh vegetables
3 2024-05-02               NaN
4 2024-05-02  Fresh vegetables

                       Product brand, name and type    Barcode  Quantity Unit  \
0  Tesco Aromatic Babyleaf Salad 90G, Fruit and Veg  3330678.0       1.0   Kg
1                                               NaN        NaN       NaN  NaN
2                       Tesco Turnip, Fruit and Veg  3301760.0      11.0   Kg
3                                               NaN        NaN       NaN  NaN
4             Tesco Cauliflower Each, Fruit and Veg  3023594.0       7.0   Kg

   Unit weight  Total weight Unit price  Total price  ...  \
0          0.1          0.10       1.55         1.35  ...
1          NaN           NaN       GBP           NaN  ...
2          0.3          3.32       0.58         6.38  ...
3          NaN           NaN       GBP           NaN  ...
4          0.7          4.92       1.09         7.63  ...

   2024-05-22 00:00:00  2024-05-23 00:00:00  2024-05-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-05-25 00:00:00  2024-05-26 00:00:00  2024-05-27 00:00:00  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN

   2024-05-28 00:00:00  2024-05-29 00:00:00  2024-05-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Madeley, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinmay', datetime.datetime(2024, 5, 1, 0, 0), datetime.datetime(2024, 5, 2, 0, 0), datetime.datetime(2024, 5, 3, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 5, 0, 0), datetime.datetime(2024, 5, 6, 0, 0), datetime.datetime(2024, 5, 7, 0, 0), datetime.datetime(2024, 5, 8, 0, 0), datetime.datetime(2024, 5, 9, 0, 0), datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 12, 0, 0), datetime.datetime(2024, 5, 13, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]
Missing values in sheet Madeley:
Date                             0
Category                        20
Product.brand..name.and.type    20
Barcode                         20
Quantity                        20
Unit                            20
Unit.weight                     20
Total.weight                    20
Unit.price                      20
Total.price                     20
Stock.code                      20
SheetName                        0
dtype: int64
Cleaned data from sheet Madeley:
         Date          Category  \
0 2024-05-02  Fresh vegetables
1 2024-05-02               NaN
2 2024-05-02  Fresh vegetables
3 2024-05-02               NaN
4 2024-05-02  Fresh vegetables

                       Product.brand..name.and.type    Barcode  Quantity Unit  \
0  Tesco Aromatic Babyleaf Salad 90G, Fruit and Veg  3330678.0       1.0   Kg
1                                               NaN        NaN       NaN  NaN
2                       Tesco Turnip, Fruit and Veg  3301760.0      11.0   Kg
3                                               NaN        NaN       NaN  NaN
4             Tesco Cauliflower Each, Fruit and Veg  3023594.0       7.0   Kg

   Unit.weight  Total.weight Unit.price  Total.price  Stock.code SheetName
0          0.1          0.10       1.55         1.35  87177222.0   Madeley
1          NaN           NaN       <NA>          NaN         NaN   Madeley
2          0.3          3.32       0.58         6.38  86001853.0   Madeley
3          NaN           NaN       <NA>          NaN         NaN   Madeley
4          0.7          4.92       1.09         7.63  50550228.0   Madeley

<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)
<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Original data from sheet Malinslee:
     Received                              Category  \
0 2024-05-02  Chilled products with dairy and eggs
1 2024-05-02                                   NaN
2 2024-05-02  Chilled products with dairy and eggs
3 2024-05-02                                   NaN
4 2024-05-02                      Fresh vegetables

                        Product brand, name and type       Barcode  Quantity  \
0  Tesco British Chicken Breast Mini Fillets 400G...  5.057754e+12       1.0
1                                                NaN           NaN       NaN
2        Tesco Chicken Breast Portions 580G, Chilled  5.057754e+12       3.0
3                                                NaN           NaN       NaN
4    Tesco Sweet & Crunchy Salad 250G, Fruit and Veg  3.336922e+06       2.0

  Unit  Unit weight  Total weight Unit price  Total price  ...  \
0   Kg         0.44          0.44       3.75         3.75  ...
1  NaN          NaN           NaN       GBP           NaN  ...
2   Kg         0.64          1.92       4.55        13.65  ...
3  NaN          NaN           NaN       GBP           NaN  ...
4   Kg         0.25          0.50       0.85         1.70  ...

   2024-05-22 00:00:00  2024-05-23 00:00:00  2024-05-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-05-25 00:00:00  2024-05-26 00:00:00  2024-05-27 00:00:00  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN

   2024-05-28 00:00:00  2024-05-29 00:00:00  2024-05-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Malinslee, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinmay', datetime.datetime(2024, 5, 1, 0, 0), datetime.datetime(2024, 5, 2, 0, 0), datetime.datetime(2024, 5, 3, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 5, 0, 0), datetime.datetime(2024, 5, 6, 0, 0), datetime.datetime(2024, 5, 7, 0, 0), datetime.datetime(2024, 5, 8, 0, 0), datetime.datetime(2024, 5, 9, 0, 0), datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 12, 0, 0), datetime.datetime(2024, 5, 13, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]
Missing values in sheet Malinslee:
Date                             0
Category                        10
Product.brand..name.and.type    10
Barcode                         10
Quantity                        10
Unit                            10
Unit.weight                     10
Total.weight                    10
Unit.price                      10
Total.price                     10
Stock.code                      10
SheetName                        0
dtype: int64
Cleaned data from sheet Malinslee:
         Date                              Category  \
0 2024-05-02  Chilled products with dairy and eggs
1 2024-05-02                                   NaN
2 2024-05-02  Chilled products with dairy and eggs
3 2024-05-02                                   NaN
4 2024-05-02                      Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0  Tesco British Chicken Breast Mini Fillets 400G...  5.057754e+12       1.0
1                                                NaN           NaN       NaN
2        Tesco Chicken Breast Portions 580G, Chilled  5.057754e+12       3.0
3                                                NaN           NaN       NaN
4    Tesco Sweet & Crunchy Salad 250G, Fruit and Veg  3.336922e+06       2.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.44          0.44       3.75         3.75  87690040.0
1  NaN          NaN           NaN       <NA>          NaN         NaN
2   Kg         0.64          1.92       4.55        13.65  85735591.0
3  NaN          NaN           NaN       <NA>          NaN         NaN
4   Kg         0.25          0.50       0.85         1.70  88304852.0

   SheetName
0  Malinslee
1  Malinslee
2  Malinslee
3  Malinslee
4  Malinslee
Original data from sheet Rugeley:
    Received                  Category  \
0       NaN  Bread and bread products
1       NaN                       NaN
2       NaN  Bread and bread products
3       NaN                       NaN
4       NaN  Bread and bread products

                        Product brand, name and type       Barcode  Quantity  \
0             Hovis Granary Thick Bread 800G, Bakery  5.010003e+12       1.0
1                                                NaN           NaN       NaN
2       New York Bakery Sesame Bagels 5 Pack, Bakery  5.020364e+12       1.0
3                                                NaN           NaN       NaN
4  Hovis Seed Sensations Maltd Wholegrain 800G, B...  5.010003e+12       1.0

  Unit  Unit weight  Total weight Unit price  Total price  ...  \
0   Kg         0.81          0.81       1.85         1.85  ...
1  NaN          NaN           NaN       GBP           NaN  ...
2   Kg         0.45          0.45        1.9         1.90  ...
3  NaN          NaN           NaN       GBP           NaN  ...
4   Kg         0.80          0.80       1.85         1.85  ...

   2024-05-22 00:00:00  2024-05-23 00:00:00  2024-05-24 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

  2024-05-25 00:00:00  2024-05-26 00:00:00  2024-05-27 00:00:00  \
0                 NaN                  NaN                  NaN
1                 NaN                  NaN                  NaN
2                 NaN                  NaN                  NaN
3                 NaN                  NaN                  NaN
4                 NaN                  NaN                  NaN

   2024-05-28 00:00:00  2024-05-29 00:00:00  2024-05-30 00:00:00  \
0                  NaN                  NaN                  NaN
1                  NaN                  NaN                  NaN
2                  NaN                  NaN                  NaN
3                  NaN                  NaN                  NaN
4                  NaN                  NaN                  NaN

   2024-05-31 00:00:00
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 46 columns]
Sheet: Rugeley, Columns: ['received', 'category', 'productbrandnameandtype', 'barcode', 'quantity', 'unit', 'unitweight', 'totalweight', 'unitprice', 'totalprice', 'expirydate', 'batchcode', 'stockcode', 'unnamed', 'totalinmay', datetime.datetime(2024, 5, 1, 0, 0), datetime.datetime(2024, 5, 2, 0, 0), datetime.datetime(2024, 5, 3, 0, 0), datetime.datetime(2024, 5, 4, 0, 0), datetime.datetime(2024, 5, 5, 0, 0), datetime.datetime(2024, 5, 6, 0, 0), datetime.datetime(2024, 5, 7, 0, 0), datetime.datetime(2024, 5, 8, 0, 0), datetime.datetime(2024, 5, 9, 0, 0), datetime.datetime(2024, 5, 10, 0, 0), datetime.datetime(2024, 5, 11, 0, 0), datetime.datetime(2024, 5, 12, 0, 0), datetime.datetime(2024, 5, 13, 0, 0), datetime.datetime(2024, 5, 14, 0, 0), datetime.datetime(2024, 5, 15, 0, 0), datetime.datetime(2024, 5, 16, 0, 0), datetime.datetime(2024, 5, 17, 0, 0), datetime.datetime(2024, 5, 18, 0, 0), datetime.datetime(2024, 5, 19, 0, 0), datetime.datetime(2024, 5, 20, 0, 0), datetime.datetime(2024, 5, 21, 0, 0), datetime.datetime(2024, 5, 22, 0, 0), datetime.datetime(2024, 5, 23, 0, 0), datetime.datetime(2024, 5, 24, 0, 0), datetime.datetime(2024, 5, 25, 0, 0), datetime.datetime(2024, 5, 26, 0, 0), datetime.datetime(2024, 5, 27, 0, 0), datetime.datetime(2024, 5, 28, 0, 0), datetime.datetime(2024, 5, 29, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 5, 31, 0, 0)]
Missing values in sheet Rugeley:
Category                        17
Product.brand..name.and.type    17
Barcode                         17
Quantity                        17
Unit                            17
Unit.weight                     17
Total.weight                    17
Unit.price                      17
Total.price                     17
Stock.code                      17
SheetName                        0
dtype: int64
Cleaned data from sheet Rugeley:
                    Category  \
0  Bread and bread products
1                       NaN
2  Bread and bread products
3                       NaN
4  Bread and bread products

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Hovis Granary Thick Bread 800G, Bakery  5.010003e+12       1.0
1                                                NaN           NaN       NaN
2       New York Bakery Sesame Bagels 5 Pack, Bakery  5.020364e+12       1.0
3                                                NaN           NaN       NaN
4  Hovis Seed Sensations Maltd Wholegrain 800G, B...  5.010003e+12       1.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.81          0.81       1.85         1.85  52298564.0
1  NaN          NaN           NaN       <NA>          NaN         NaN
2   Kg         0.45          0.45        1.9         1.90  53538527.0
3  NaN          NaN           NaN       <NA>          NaN         NaN
4   Kg         0.80          0.80       1.85         1.85  91388652.0

  SheetName
0   Rugeley
1   Rugeley
2   Rugeley
3   Rugeley
4   Rugeley
Missing values in consolidated data:
Date                            17
Category                         0
Product.brand..name.and.type     0
Barcode                          4
Quantity                         2
Unit                             2
Unit.weight                      2
Total.weight                     0
Unit.price                      48
Total.price                      0
Stock.code                       4
SheetName                        0
dtype: int64

<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)
<ipython-input-6-6d207132d9a7>:98: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(lambda x: pd.NA if isinstance(x, str) and 'GBP' in x else x)

Cleaned data saved to /content/Cleaned_Fareshare_Data.xlsx
        Date          Category  \
0 2024-05-01  Fresh vegetables
2 2024-05-01  Fresh vegetables
4 2024-05-01  Fresh vegetables
6 2024-05-01  Fresh vegetables
8 2024-05-01  Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg  3.424605e+06       8.0
2  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5.059697e+12       7.0
4        Tesco Mixed Peppers 420G (C), Fruit and Veg  3.274880e+06       1.0
6       Tesco Pink Lady Apple Pot 80G, Fruit and Veg  5.057753e+12       2.0
8  Tesco Nut Bites Mix Baklava Flavour 25G, Fruit...  5.059698e+12      10.0

  Unit  Unit.weight  Total.weight Unit.price  Total.price  Stock.code  \
0   Kg         0.06          0.51       1.15         9.20  90606230.0
2   Kg         0.03          0.18       0.75         5.95  91177343.0
4   Kg         0.57          0.57        1.9         1.90  82909195.0
6   Kg         0.09          0.18        1.3         2.60  85589204.0
8   Kg         0.03          0.27       0.85         8.50  90856964.0

  SheetName
0    Hadley
2    Hadley
4    Hadley
6    Hadley
8    Hadley
<class 'pandas.core.frame.DataFrame'>
Index: 2863 entries, 0 to 5683
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          2846 non-null   datetime64[ns]
 1   Category                      2863 non-null   object
 2   Product.brand..name.and.type  2863 non-null   object
 3   Barcode                       2859 non-null   float64
 4   Quantity                      2861 non-null   float64
 5   Unit                          2861 non-null   object
 6   Unit.weight                   2861 non-null   float64
 7   Total.weight                  2863 non-null   float64
 8   Unit.price                    2815 non-null   object
 9   Total.price                   2863 non-null   float64
 10  Stock.code                    2859 non-null   float64
 11  SheetName                     2863 non-null   object
dtypes: datetime64[ns](1), float64(6), object(5)
memory usage: 290.8+ KB
None

In [ ]:
#@title **Step 4: Waitrose data cleaning and merging**

In [7]:
# Load the Waitrose sheet data to inspect it
waitrose_data = pd.read_excel(file_path, sheet_name="Waitrose")

# Display the first few rows of the raw data to understand its structure
print("Raw Waitrose Data:")
print(waitrose_data.head(50))

Raw Waitrose Data:
     Received                              Category  \
0  2024-05-29  Chilled products with dairy and eggs
1         NaT                          Chilled fish
2         NaT                          Chilled meat
3         NaT              Bread and bread products
4         NaT                      Fresh vegetables
5         NaT                           Fresh fruit
6         NaT                           Fresh fruit
7         NaT                           Fresh fruit
8  2024-06-08  Chilled products with dairy and eggs
9         NaT                          Chilled fish
10        NaT                          Chilled meat
11        NaT                         Other grocery
12        NaT              Bread and bread products
13        NaT                      Fresh vegetables
14        NaT                           Fresh fruit
15 2024-06-15                           Fresh fruit
16        NaT              Bread and bread products
17        NaT  Chilled products with dairy and eggs
18        NaT                          Chilled meat

   Product brand, name and type  Unnamed: 3  Quantity   unit  KG per unit  \
0                           NaN         NaN       2.5  crate          6.5
1                           NaN         NaN       0.5  crate          6.5
2                           NaN         NaN       1.0  crate          6.5
3                           NaN         NaN       1.5  crate          6.5
4      Lettuce and spring onion         NaN       3.0  crate          6.5
5                         melon         NaN       2.0  crate          6.5
6                        banana         NaN       4.0  crate         10.0
7                          kiwi         NaN       1.0  crate         10.0
8                           NaN         NaN       1.0  crate          6.5
9                           NaN         NaN       0.5  crate          6.5
10                          NaN         NaN       0.5  crate          6.5
11                          NaN         NaN       1.0  crate          6.5
12                          NaN         NaN       3.0  crate          6.5
13                          NaN         NaN       3.0  crate          6.5
14                          NaN         NaN       3.0  crate          6.5
15                      Bananas         NaN       3.0  crate         17.0
16                          NaN         NaN       2.0  crate          6.5
17                          NaN         NaN       1.0  crate          6.5
18                          NaN         NaN       1.5  crate          6.5

    Total weight (kg) Unnamed: 8                 2024-05-29 00:00:00  \
0               16.25        NaN                              118.25
1                3.25        NaN                                 NaN
2                6.50        NaN                                 NaN
3                9.75        NaN                                 NaN
4               19.50        NaN                                 NaN
5               13.00        NaN                                 NaN
6               40.00        NaN                                 NaN
7               10.00        NaN                                 NaN
8                6.50        NaN                                 NaN
9                3.25        NaN                                 NaN
10               3.25        NaN                                 NaN
11               6.50        NaN                                 NaN
12              19.50        NaN                                 NaN
13              19.50    Donated  Holy Trinity Church and ManInPlace
14              19.50    Donated  Holy Trinity Church and ManInPlace
15              51.00   Donated                  Holy trinity Church
16              13.00   Donated                  Holy trinity Church
17               6.50        NaN                                 NaN
18               9.75        NaN                                 NaN

    2024-06-08 00:00:00  2024-06-15 00:00:00
0                  78.0                80.25
1                   NaN                  NaN
2                   NaN                  NaN
3                   NaN                  NaN
4                   NaN                  NaN
5                   NaN                  NaN
6                   NaN                  NaN
7                   NaN                  NaN
8                   NaN                  NaN
9                   NaN                  NaN
10                  NaN                  NaN
11                  NaN                  NaN
12                  NaN                  NaN
13                  NaN                  NaN
14                  NaN                  NaN
15                  NaN                  NaN
16                  NaN                  NaN
17                  NaN                  NaN
18                  NaN                  NaN

In [8]:
# Helper function to standardize column names
def standardize_column_name(name):
    if isinstance(name, str):
        return re.sub(r'[^a-z]', '', name.lower())
    return name

# Function to clean the Waitrose sheet
def clean_waitrose_sheet(data):
    # Standardize the column names
    data.columns = [standardize_column_name(col) for col in data.columns]

    # Convert empty strings to NaN
    data.replace("", pd.NA, inplace=True)

    # Fill missing Date values with the last valid observation forward
    data['received'] = data['received'].replace('nan', pd.NA)  # Treat 'nan' as NA
    data['received'].fillna(method='ffill', inplace=True)  # Forward fill the date

    # Ensure the 'received' column is treated as a string before applying string operations
    data['received'] = data['received'].astype(str)

    # Remove duplicate headers
    data = data[~data['received'].str.contains('category', na=False)]

    # Drop completely empty rows
    data.dropna(how='all', inplace=True)

    # Replace remaining NaN values with "N/A"
    data.fillna(value="N/A", inplace=True)

    # Standardize column names to match the other datasets
    column_mappings = {
        'received': 'Date',
        'category': 'Category',
        'productbrandnameandtype': 'Product.brand..name.and.type',
        'quantity': 'Quantity',
        'unit': 'Unit',
        'kgperunit': 'Unit.weight',
        'totalweightkg': 'Total.weight'  # Adjust for total weight column
    }

    data.rename(columns=column_mappings, inplace=True)

    # Check and create missing columns with default values
    required_columns = ['Date', 'Category', 'Product.brand..name.and.type', 'Barcode', 'Quantity',
                        'Unit', 'Unit.weight', 'Total.weight', 'Unit.price', 'Total.price', 'SheetName']

    for col in required_columns:
        if col not in data.columns:
            data[col] = pd.NA

    # Calculate Total Weight if not present
    if data['Total.weight'].isna().all() and 'Unit.weight' in data.columns and 'Quantity' in data.columns:
        data['Total.weight'] = pd.to_numeric(data['Quantity'], errors='coerce') * pd.to_numeric(data['Unit.weight'], errors='coerce')

    # Format Date to remove time
    data['Date'] = pd.to_datetime(data['Date'], errors='coerce').dt.date

    # Add a column for the sheet name
    data['SheetName'] = 'Waitrose'

    # Rearrange columns to match the desired output
    data = data[required_columns]

    # Print the cleaned data for debugging
    print(f"Cleaned Waitrose Data:\n{data.head()}")

    return data

# Load the Waitrose sheet with only the required columns
file_path = "/content/James_Fareshare_Data/data/ORIGINAL Fareshare records from April to 6 Aug plus.xlsx"
waitrose_data = pd.read_excel(file_path, sheet_name="Waitrose", usecols="A:I")  # Adjust the range to include only the necessary columns

# Apply the custom cleaning function to the Waitrose data
cleaned_waitrose_data = clean_waitrose_sheet(waitrose_data)

# Save the cleaned Waitrose data to an Excel file
waitrose_output_file_path = "/content/Cleaned_Waitrose_Data.xlsx"
cleaned_waitrose_data.to_excel(waitrose_output_file_path, index=False)

print(f"Cleaned Waitrose data saved to {waitrose_output_file_path}")

Cleaned Waitrose Data:
         Date                              Category  \
0  2024-05-29  Chilled products with dairy and eggs
1  2024-05-29                          Chilled fish
2  2024-05-29                          Chilled meat
3  2024-05-29              Bread and bread products
4  2024-05-29                      Fresh vegetables

  Product.brand..name.and.type Barcode  Quantity   Unit  Unit.weight  \
0                          N/A    <NA>       2.5  crate          6.5
1                          N/A    <NA>       0.5  crate          6.5
2                          N/A    <NA>       1.0  crate          6.5
3                          N/A    <NA>       1.5  crate          6.5
4     Lettuce and spring onion    <NA>       3.0  crate          6.5

   Total.weight Unit.price Total.price SheetName
0         16.25       <NA>        <NA>  Waitrose
1          3.25       <NA>        <NA>  Waitrose
2          6.50       <NA>        <NA>  Waitrose
3          9.75       <NA>        <NA>  Waitrose
4         19.50       <NA>        <NA>  Waitrose
Cleaned Waitrose data saved to /content/Cleaned_Waitrose_Data.xlsx

<ipython-input-8-337b2b8bc363>:17: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['received'].fillna(method='ffill', inplace=True)  # Forward fill the date
<ipython-input-8-337b2b8bc363>:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'N/A' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.fillna(value="N/A", inplace=True)

In [9]:
# Load the previously cleaned Fareshare data
fareshare_data = pd.read_excel("/content/Cleaned_Fareshare_Data.xlsx")

# Append the cleaned Waitrose data
merged_data = pd.concat([fareshare_data, cleaned_waitrose_data], ignore_index=True)

# Save the merged dataset including Waitrose data
merged_output_file_path = "/content/Merged_Fareshare_With_Waitrose_Data.xlsx"
merged_data.to_excel(merged_output_file_path, index=False)

print(f"Merged data including Waitrose saved to {merged_output_file_path}")

# Load the merged dataset to verify
final_merged_data = pd.read_excel(merged_output_file_path)

# Display the first few rows to ensure the data is correctly combined
print("Final Merged Data:")
print(final_merged_data.head())

<ipython-input-9-ad9b88d60b57>:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_data = pd.concat([fareshare_data, cleaned_waitrose_data], ignore_index=True)

Merged data including Waitrose saved to /content/Merged_Fareshare_With_Waitrose_Data.xlsx
Final Merged Data:
        Date          Category  \
0 2024-05-01  Fresh vegetables
1 2024-05-01  Fresh vegetables
2 2024-05-01  Fresh vegetables
3 2024-05-01  Fresh vegetables
4 2024-05-01  Fresh vegetables

                        Product.brand..name.and.type       Barcode  Quantity  \
0             Tesco Mixed Raisins 60G, Fruit and Veg  3.424605e+06       8.0
1  Tesco Sour Cream Chive Flavoured Pulse & Nut M...  5.059697e+12       7.0
2        Tesco Mixed Peppers 420G (C), Fruit and Veg  3.274880e+06       1.0
3       Tesco Pink Lady Apple Pot 80G, Fruit and Veg  5.057753e+12       2.0
4  Tesco Nut Bites Mix Baklava Flavour 25G, Fruit...  5.059698e+12      10.0

  Unit  Unit.weight  Total.weight  Unit.price  Total.price  Stock.code  \
0   Kg         0.06          0.51        1.15         9.20  90606230.0
1   Kg         0.03          0.18        0.75         5.95  91177343.0
2   Kg         0.57          0.57        1.90         1.90  82909195.0
3   Kg         0.09          0.18        1.30         2.60  85589204.0
4   Kg         0.03          0.27        0.85         8.50  90856964.0

  SheetName
0    Hadley
1    Hadley
2    Hadley
3    Hadley
4    Hadley

In [12]:

# Load the merged data
file_path = "/content/Merged_Fareshare_With_Waitrose_Data.xlsx"
merged_data = pd.read_excel(file_path)

# Rename the columns as per your request
merged_data.rename(columns={
    'Product.brand..name.and.type': 'Product',
    'Unit.weight': 'Unit_Wt_Kg',
    'Total.weight': 'Total_Wt_Kg',
    'Unit.price': 'Unit_Price_GBP',
    'Total.price': 'Total_Price_GBP',
    'Stock.code': 'Stock_Code',
    'SheetName': 'Store'
}, inplace=True)

# Convert dates to ISO format (YYYY-MM-DD)
merged_data['Date'] = pd.to_datetime(merged_data['Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Define a function to remove anything in parentheses
def remove_parentheses(text):
    return re.sub(r'\s*\(.*?\)\s*', '', str(text))

# Apply the function to remove parentheses across all columns
merged_data = merged_data.applymap(remove_parentheses)

# Replace NA, n/a, N/A with blank cells
merged_data.replace(["NA", "n/a", "N/A"], "", inplace=True)

# Update the 'Unit' column: change "Kg" to "Item", leave "Crate" as is
merged_data['Unit'] = merged_data['Unit'].astype(str).apply(lambda x: 'Item' if x.lower() == 'kg' else x)

# Sort the dataset by Date
merged_data = merged_data.sort_values(by='Date')

# Save the cleaned and ordered dataset to a new Excel file
final_output_path = "/content/Cleaned_Ordered_Fareshare_Data.xlsx"
merged_data.to_excel(final_output_path, index=False)

print(f"Final cleaned and ordered data saved to {final_output_path}")

# Display the first few rows of the cleaned dataframe to verify changes
print(merged_data.head())

<ipython-input-12-1f0457729522>:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  merged_data = merged_data.applymap(remove_parentheses)

Final cleaned and ordered data saved to /content/Cleaned_Ordered_Fareshare_Data.xlsx
            Date                  Category  \
2734  2024-04-22  Bread and bread products
2724  2024-04-22          Fresh vegetables
2725  2024-04-22          Fresh vegetables
2726  2024-04-22          Fresh vegetables
2727  2024-04-22          Fresh vegetables

                                                Product     Barcode Quantity  \
2734          Tesco Large Wholemeal Baps 4 Pack, Bakery   3012369.0      4.0
2724         Jaffa Orange Minimum 4 Pack, Fruit and Veg  10004241.0      3.0
2725                        Lemons 4Pack, Fruit and Veg  10098752.0      9.0
2726     Tesco Granny Smith Apple 6 Pack, Fruit and Veg   3249499.0      3.0
2727  Tesco Tenderstem & Mixed Vegetable 160G, Fruit...   3285541.0     10.0

      Unit Unit_Wt_Kg Total_Wt_Kg Unit_Price_GBP Total_Price_GBP  Stock_Code  \
2734  Item       0.37         1.5            0.9             3.6  51345211.0
2724  Item       0.75        2.24            2.0             6.9  52714038.0
2725  Item        0.5        4.49            1.4            12.6  65268091.0
2726  Item       0.87         2.6           1.95            5.85  77090707.0
2727  Item       0.18         1.8            2.0            20.0  85428557.0

               Store
2734  Market Drayton
2724  Market Drayton
2725  Market Drayton
2726  Market Drayton
2727  Market Drayton